##########################################################
#### File: RattanavilayThip_Weeks_7_&_8_Exercises<br>
#### Name: Thip Rattanavilay<br>
#### Date: 05/6/2021<br>
#### Course: DSC 540 - Assignment: Weeks 7 & 8 Exercises<br>
##########################################################

# Chapters 7-8 & 10-11 of Python for Data Analysis

The four chapters you read these two weeks focus extensively on cleaning and transforming data.

You can choose from either of these two datasets:

So Much Data Candy, Seriously.  (Ng, 2017)
The Metropolitan Museum of Art Open Access CSV.  (Github, 2019 (this data set has multiple years’ worth of data – you can use these files for merging/joining)
You can also download all of the above data from both sites directly from this link: Weeks 7 & 8 Datasets
For this assignment you need to complete 8 of the following exercises against this data.

Note: You must select at least two methods from each chapter to perform on one of the datasets. You are welcome to do more methods and you do not have to use the same dataset for all 8 methods.

You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.

#### Chapter 7
Filter out missing data
Fill in missing data
Remove duplicates
Transform data using either mapping or a function
Replace values
Discretization and Binning
Manipulate Strings

#### Chapter 8
Create hierarchical index
Combine and Merge Datasets (you will have to either create a new dataset from your existing data or create a relationship between the data I have provided)
Reshape
Pivot the data

#### Chapter 10
Grouping with Dicts/Series
Grouping with Functions
Grouping with Index Levels
Split/Apply/Combine
Cross Tabs

#### Chapter 11
Convert between string and date time
Generate date range
Frequencies and date offsets
Convert timestamps to periods and back
Period Frequency conversions

In [1]:
# Downloaded all the files from Weeks 7 & 8 Datasets

In [2]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [64]:
# Reading the The Metropolitan Museum of Art Open Access CSV - MetObjects.csv
# reading only first 100 rows as the file is very huge
# will use sample df to play with later
df = pd.read_csv("MetObjects.csv", nrows=100)
df.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [65]:
# details about each of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Object Number            100 non-null    object
 1   Is Highlight             100 non-null    bool
 2   Is Timeline Work         100 non-null    bool
 3   Is Public Domain         100 non-null    bool
 4   Object ID                100 non-null    int64
 5   Gallery Number           56 non-null     float64
 6   Department               100 non-null    object
 7   AccessionYear            100 non-null    int64
 8   Object Name              100 non-null    object
 9   Title                    100 non-null    object
 10  Culture                  40 non-null     object
 11  Period                   0 non-null      float64
 12  Dynasty                  0 non-null      float64
 13  Reign                    0 non-null      float64
 14  Portfolio                0 non-null      float64
 15  Constiuent ID            16 non-null     float64
 16  Artist Role              16 non-null     object
 17  Artist Prefix            1 non-null      object
 18  Artist Display Name      16 non-null     object
 19  Artist Display Bio       16 non-null     object
 20  Artist Suffix            0 non-null      float64
 21  Artist Alpha Sort        16 non-null     object
 22  Artist Nationality       7 non-null      object
 23  Artist Begin Date        15 non-null     object
 24  Artist End Date          15 non-null     object
 25  Artist Gender            1 non-null      object
 26  Artist ULAN URL          11 non-null     object
 27  Artist Wikidata URL      1 non-null      object
 28  Object Date              100 non-null    object
 29  Object Begin Date        100 non-null    int64
 30  Object End Date          100 non-null    int64
 31  Medium                   100 non-null    object
 32  Dimensions               100 non-null    object
 33  Credit Line              100 non-null    object
 34  Geography Type           43 non-null     object
 35  City                     19 non-null     object
 36  State                    2 non-null      object
 37  County                   2 non-null      object
 38  Country                  43 non-null     object
 39  Region                   0 non-null      float64
 40  Subregion                0 non-null      float64
 41  Locale                   0 non-null      float64
 42  Locus                    0 non-null      float64
 43  Excavation               0 non-null      float64
 44  River                    0 non-null      float64
 45  Classification           100 non-null    object
 46  Rights and Reproduction  0 non-null      float64
 47  Link Resource            100 non-null    object
 48  Object Wikidata URL      1 non-null      object
 49  Metadata Date            0 non-null      float64
 50  Repository               100 non-null    object
 51  Tags                     12 non-null     object
 52  Tags AAT URL             12 non-null     object
 53  Tags Wikidata URL        12 non-null     object
dtypes: bool(3), float64(15), int64(4), object(32)
memory usage: 40.3+ KB

In [79]:
# Chapter 7 Activities:
#Filter out missing data
#Fill in missing data
#Remove duplicates
#Transform data using either mapping or a function
#Replace values
#Discretization and Binning
#Manipulate Strings

In [113]:
# reading Candy data - candyhierarchy2017.xlsx
df_candy_2017 = pd.read_excel("candyhierarchy2017.xlsx")
df_candy_2017

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

In [114]:
df_candy_2017.columns

Index(['Internal ID', 'Q1: GOING OUT?', 'Q2: GENDER', 'Q3: AGE', 'Q4: COUNTRY',
       'Q5: STATE, PROVINCE, COUNTY, ETC', 'Q6 | 100 Grand Bar',
       'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
       'Q6 | Any full-sized candy bar', 'Q6 | Black Jacks',
       ...
       'Q8: DESPAIR OTHER', 'Q9: OTHER COMMENTS', 'Q10: DRESS', 'Unnamed: 113',
       'Q11: DAY', 'Q12: MEDIA [Daily Dish]', 'Q12: MEDIA [Science]',
       'Q12: MEDIA [ESPN]', 'Q12: MEDIA [Yahoo]', 'Click Coordinates (x, y)'],
      dtype='object', length=120)

In [115]:
# Chapter 7: Task 1 : #Filter out missing data
# Filtering where Q1: GOING OUT? is NaN
# I think this question is relevant, if one needs to carry out the study
# So the values with missing answer to this question should be removed
df_candy_2017_filtered = df_candy_2017.dropna(subset=['Q1: GOING OUT?'])
df_candy_2017_filtered

# Rows Reduced to 2350 rows from 2460 rows

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
5,90272852,No,Male,NaN,NaN,NaN,JOY,DESPAIR,JOY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"(75, 23)"
6,90272853,No,Male,53,usa,Colorado,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

In [116]:
# Chapter 7 : Task 2: 
# a. Replace values: 
# b. Transform data using either mapping or a function
import re

# This function returns value as -1, if the data is not numeric
def CheckNum(x):
    if re.match('^[0-9]*$', x):     
        return x
    else:
        return -1

# Checking Unique Values before change
print("Unique Values Before - ", df_candy_2017['Q3: AGE'].unique())

# Changing value and column type as NaN if the 
df_candy_2017['Q3: AGE'] = df_candy_2017['Q3: AGE'].astype(str).apply(lambda x: CheckNum(x))

# Converting column back as Int
df_candy_2017['Q3: AGE'] = df_candy_2017['Q3: AGE'].astype(int)

# Check unique values after transformation to see if the values have been replaced
print("Unique Values After - ", df_candy_2017['Q3: AGE'].unique())

Unique Values Before -  [nan 44 49 40 23 53 33 43 56 64 37 59 48 54 36 45 25 34 35 38 58 50 47 16
 52 63 65 41 27 31 61 46 42 62 29 39 32 28 69 67 30 22 26 51 70 24 18 19
 'Old enough' 57 60 66 12 'Many' 55 72 '?' 21 11 'no' 9 68 20 6 10 71 90
 13 '45-55' 312 99 7 'hahahahaha' 88 39.4 74 102 'older than dirt' 17 15 8
 75 '5u' 'Enough' 'See question 2' '24-50' 14 'Over 50' 100 76 1000
 'sixty-nine' '46 Halloweens.' 'ancient' 77 'OLD' 'old' 73 70.5 1
 'MY NAME JEFF' 4 '59 on the day after Halloween' 'old enough' 'your mom'
 'I can remember when Java was a cool new language' '60+']
Unique Values After -  [  -1   44   49   40   23   53   33   43   56   64   37   59   48   54
   36   45   25   34   35   38   58   50   47   16   52   63   65   41
   27   31   61   46   42   62   29   39   32   28   69   67   30   22
   26   51   70   24   18   19   57   60   66   12   55   72   21   11
    9   68   20    6   10   71   90   13  312   99    7   88   74  102
   17   15    8   75   14  100   76 1000   77   73    1    4]

In [117]:
# Chapter 8
# Create hierarchical index
# Combine and Merge Datasets (you will have to either create a new dataset from your 
# existing data or create a relationship between the data I have provided)
# Reshape
# Pivot the data

In [147]:
df_candy_2015 = pd.read_excel("CANDY-HIERARCHY-2015-SURVEY-Responses.xlsx")
df_candy_2015.head(10)

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,2015-10-23 08:46:20.451,35,No,JOY,NaN,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-10-23 08:47:34.285,33,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-10-23 08:47:58.964,31,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-10-23 08:49:06.808,38,No,JOY,JOY,DESPAIR,JOY,DESPAIR,JOY,JOY,...,JOY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-10-23 08:50:08.918,48,No,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015-10-23 08:52:14.267,39,No,DESPAIR,JOY,DESPAIR,NaN,NaN,NaN,JOY,...,JOY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-10-23 08:52:22.112,89999999999999995805696,Yes,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015-10-23 08:53:30.967,54,No,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,...,JOY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
# Chapter 8: Task 1: Creating Hierarchial Index
# Creating Hierarchial index by one of the Columns

# Create Single Index
df_candy_2015.set_index([' [Butterfinger]'], inplace=True)
df_candy_2015.sort_index(inplace=True)
display(df_candy_2015.head(5))
display(df_candy_2015.tail(5))

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],[Box’o’ Raisins],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
[Butterfinger],,,,,,,,,,,,,,,,,,,,,
DESPAIR,2015-10-31 06:41:31.904,44,No,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,...,JOY,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DESPAIR,2015-10-26 11:58:04.260,19,Yes,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,JOY,...,JOY,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DESPAIR,2015-10-29 05:00:42.235,39,No,JOY,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,DESPAIR,...,JOY,Sunday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DESPAIR,2015-10-29 05:04:18.316,36,No,JOY,DESPAIR,JOY,NaN,NaN,JOY,NaN,...,NaN,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DESPAIR,2015-10-29 05:05:51.837,22,Yes,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,JOY,...,DESPAIR,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],[Box’o’ Raisins],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
[Butterfinger],,,,,,,,,,,,,,,,,,,,,
NaN,2015-10-30 11:43:07.745,36,No,NaN,DESPAIR,JOY,DESPAIR,NaN,NaN,NaN,...,DESPAIR,Sunday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2015-10-30 17:57:55.359,58,No,JOY,DESPAIR,JOY,DESPAIR,NaN,NaN,NaN,...,JOY,Sunday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2015-10-30 21:49:19.207,38,No,NaN,DESPAIR,JOY,NaN,NaN,DESPAIR,JOY,...,NaN,Sunday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2015-10-31 05:15:32.494,50t,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2015-10-31 06:13:29.083,35,Yes,JOY,DESPAIR,JOY,NaN,NaN,DESPAIR,NaN,...,NaN,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
# df_candy_2017 = pd.read_excel("downloaded/candyhierarchy2017.xlsx")
# Reloading the files for another task
df_candy_2016 = pd.read_excel("BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx")
df_candy_2015 = pd.read_excel("CANDY-HIERARCHY-2015-SURVEY-Responses.xlsx")

In [150]:
df_candy_2016.head(10)

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN
5,2016-10-24 05:16:43.126,No,Male,41,USA,Georgia,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
6,2016-10-24 05:16:50.572,Yes,Male,47,usa,il,DESPAIR,DESPAIR,JOY,DESPAIR,...,2,3 or higher,3 or higher,2,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
7,2016-10-24 05:16:55.324,No,Male,28,Canada,Ontario,MEH,JOY,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
8,2016-10-24 05:17:49.292,Yes,Male,44,USA,PA,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,2,3 or higher,2,2,Friday,East to West,ESPN,NaN
9,2016-10-24 05:18:51.021,No,Female,41,UK,NaN,DESPAIR,DESPAIR,JOY,DESPAIR,...,2,1,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Sunday,"north to south, but tilted 90 degrees with ste...",ESPN,NaN

In [151]:
df_candy_2015.head(10)

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,2015-10-23 08:46:20.451,35,No,JOY,NaN,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-10-23 08:47:34.285,33,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-10-23 08:47:58.964,31,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-10-23 08:49:06.808,38,No,JOY,JOY,DESPAIR,JOY,DESPAIR,JOY,JOY,...,JOY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-10-23 08:50:08.918,48,No,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015-10-23 08:52:14.267,39,No,DESPAIR,JOY,DESPAIR,NaN,NaN,NaN,JOY,...,JOY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015-10-23 08:52:22.112,89999999999999995805696,Yes,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015-10-23 08:53:30.967,54,No,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,...,JOY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
# Checking Column Names
print(df_candy_2015.columns)

Index(['Timestamp', 'How old are you?',
       'Are you going actually going trick or treating yourself?',
       ' [Butterfinger]', ' [100 Grand Bar]',
       ' [Anonymous brown globs that come in black and orange wrappers]',
       ' [Any full-sized candy bar]', ' [Black Jacks]', ' [Bonkers]',
       ' [Bottle Caps]',
       ...
       ' [Necco Wafers]', 'Which day do you prefer, Friday or Sunday?',
       'Please estimate the degrees of separation you have from the following folks [Bruce Lee]',
       'Please estimate the degrees of separation you have from the following folks [JK Rowling]',
       'Please estimate the degrees of separation you have from the following folks [Malala Yousafzai]',
       'Please estimate the degrees of separation you have from the following folks [Thom Yorke]',
       'Please estimate the degrees of separation you have from the following folks [JJ Abrams]',
       'Please estimate the degrees of separation you have from the following folks [Hillary Clinton]',
       'Please estimate the degrees of separation you have from the following folks [Donald Trump]',
       'Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]'],
      dtype='object', length=124)

In [153]:
df_candy_2016.columns

Index(['Timestamp', 'Are you going actually going trick or treating yourself?',
       'Your gender:', 'How old are you?', 'Which country do you live in?',
       'Which state, province, county do you live in?', ' [100 Grand Bar]',
       ' [Anonymous brown globs that come in black and orange wrappers]',
       ' [Any full-sized candy bar]', ' [Black Jacks]',
       ...
       'Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]',
       'Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Bieber]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]',
       'Which day do you prefer, Friday or Sunday?',
       'Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?',
       'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).',
       ' [York Peppermint Patties] Ignore'],
      dtype='object', length=123)

In [154]:
# Chapter 8: Task 2: Combine and Merge Datasets
frames = [df_candy_2015,df_candy_2016]
df_merged_result = pd.concat(frames)
df_merged_result.sample(10)

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Sourpatch Kids (i.e. abominations of nature)],[Sweet Tarts],[Sweetums (a friend to diabetes)],[Tic Tacs],[Whatchamacallit Bars],"Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.","""That dress* that went viral a few years back - when I first saw it, it was ________""","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
5,2015-10-23 08:49:06.808,38,No,JOY,JOY,DESPAIR,JOY,DESPAIR,JOY,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3794,2015-10-28 21:20:19.320,35,No,JOY,JOY,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,2016-10-26 13:02:11.952,38,No,MEH,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,DESPAIR,DESPAIR,NaN,DESPAIR,NaN,NaN,White and gold,East to West,Science: Latest News and Headlines,NaN
597,2015-10-23 15:13:49.178,43,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,2015-10-23 09:47:47.114,46,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,2015-10-23 13:23:06.682,61,No,JOY,JOY,NaN,JOY,NaN,DESPAIR,DESPAIR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4795,2015-10-29 09:06:58.343,35,No,JOY,DESPAIR,DESPAIR,JOY,JOY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1774,2015-10-26 20:10:29.684,35,Yes,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,2016-10-24 10:13:51.672,27,Yes,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,NaN,DESPAIR,...,MEH,JOY,DESPAIR,DESPAIR,DESPAIR,NaN,White and gold,I slice that bitch,Science: Latest News and Headlines,NaN
987,2016-10-27 06:19:54.388,old,No,MEH,DESPAIR,DESPAIR,MEH,DESPAIR,NaN,JOY,...,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,NaN,White and gold,East to West,Science: Latest News and Headlines,NaN

In [160]:
# Chapter 8: Task 3 : Repeat: Hierarchial Index
# Reading the The Metropolitan Museum of Art Open Access CSV - MetObjects.csv
# reading only first 100 rows as the file is very huge
# will use sample df to play with later

# Read the file
df_metro = pd.read_csv("MetObjects.csv",low_memory=False)
df_metro.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [161]:
# Create Multiple Index
df_metro.set_index(['Department', 'AccessionYear'], inplace=True)
df_metro.sort_index(inplace=True)
display(df_metro.head(10))
display(df_metro.tail(10))

                                       Object Number  Is Highlight  \
Department               AccessionYear
Ancient Near Eastern Art 1874             74.51.4366         False
                         1874             74.51.4367         False
                         1874             74.51.4368         False
                         1874             74.51.4369         False
                         1874             74.51.4370         False
                         1874             74.51.4371         False
                         1874             74.51.4372         False
                         1874             74.51.4313         False
                         1874             74.51.4314         False
                         1874             74.51.4315         False

                                        Is Timeline Work  Is Public Domain  \
Department               AccessionYear
Ancient Near Eastern Art 1874                      False              True
                         1874                      False              True
                         1874                      False              True
                         1874                      False              True
                         1874                      False              True
                         1874                      False              True
                         1874                      False              True
                         1874                      False              True
                         1874                      False              True
                         1874                      False              True

                                        Object ID Gallery Number  \
Department               AccessionYear
Ancient Near Eastern Art 1874              321381            NaN
                         1874              321382            NaN
                         1874              321383            NaN
                         1874              321384            NaN
                         1874              321385            NaN
                         1874              321386            NaN
                         1874              321387            NaN
                         1874              321388            173
                         1874              321389            NaN
                         1874              321390            NaN

                                          Object Name  \
Department               AccessionYear
Ancient Near Eastern Art 1874              Stamp seal
                         1874              Stamp seal
                         1874              Stamp seal
                         1874              Stamp seal
                         1874              Stamp seal
                         1874              Stamp seal
                         1874              Stamp seal
                         1874           Cylinder seal
                         1874           Cylinder seal
                         1874           Cylinder seal

                                                                                    Title  \
Department               AccessionYear
Ancient Near Eastern Art 1874                                        Quasi-pyramidal seal
                         1874                                    Loop-handled conoid seal
                         1874              Stamp seal (button-shaped) with divine symbols
                         1874                                                  Stamp seal
                         1874               Stamp seal (grooved oval conoid) with animals
                         1874                                                 Conoid seal
                         1874                                                 Conoid seal
                         1874           Cylinder seal and modern impression: lion and ...
                         1874                                               Cylinder seal
                         1874                                               Cylinder seal

                                                         Culture  \
Department               AccessionYear
Ancient Near Eastern Art 1874                            Cypriot
                         1874                            Cypriot
                         1874                           Assyrian
                         1874                            Cypriot
                         1874           Syro-Anatolian-Levantine
                         1874                            Cypriot
                         1874                                NaN
                         1874                            Cypriot
                         1874                            Cypriot
                         1874                            Cypriot

                                                                      Period  \
Department               AccessionYear
Ancient Near Eastern Art 1874                               Late Cypriot III
                         1874                           Late Cypriot III (?)
                         1874                                   Neo-Assyrian
                         1874                           Late Cypriot III (?)
                         1874                                  Iron Age I-II
                         1874                                   Late Cypriot
                         1874           Late Cypriot III-Cypro-Geometric III
                         1874                                Late Cypriot II
                         1874                                   Late Cypriot
                         1874                                   Late Cypriot

                                        ... River  \
Department               AccessionYear  ...
Ancient Near Eastern Art 1874           ...   NaN
                         1874           ...   NaN
                         1874           ...   NaN
                         1874           ...   NaN
                         1874           ...   NaN
                         1874           ...   NaN
                         1874           ...   NaN
                         1874           ...   NaN
                         1874           ...   NaN
                         1874           ...   NaN

                                                        Classification  \
Department               AccessionYear
Ancient Near Eastern Art 1874                        Stone-Stamp Seals
                         1874                        Stone-Stamp Seals
                         1874                     Ceramics-Stamp Seals
                         1874                        Stone-Stamp Seals
                         1874                        Stone-Stamp Seals
                         1874                        Stone-Stamp Seals
                         1874                        Stone-Stamp Seals
                         1874                     Stone-Cylinder Seals
                         1874                     Stone-Cylinder Seals
                         1874           Stone-Cylinder Seals-Inscribed

                                       Rights and Reproduction  \
Department               AccessionYear
Ancient Near Eastern Art 1874                              NaN
                         1874                              NaN
                         1874                              NaN
                         1874                              NaN
                         1874                              NaN
                         1874                              NaN
                         1874                              NaN
                         1874                              NaN
                         1874                              NaN
                         1874                              NaN

                                                                            Link Resource  \
Department               AccessionYear
Ancient Near Eastern Art 1874           http://www.metmuseum.org/art/collection/search...
                         1874           http://www.metmuseum.org/art/collection/search...
                         1874           http://www.metmuseum.org/art/collection/search...
                         1874           http://www.metmuseum.org/art/collection/search...
                         1874           http://www.metmuseum.org/art/collection/search...
                         1874           http://www.metmuseum.org/art/collection/search...
                         1874           http://www.metmuseum.org/art/collection/search...
                         1874           http://www.metmuseum.org/art/collection/search...
                         1874           http://www.metmuseum.org/art/collection/search...
                         1874           http://www.metmuseum.org/art/collection/search...

                                       Object Wikidata URL Metadata Date  \
Department               AccessionYear
Ancient Near Eastern Art 1874                          NaN           NaN
                         1874                          NaN           NaN
                         1874                          NaN           NaN
                         1874                          NaN           NaN
                         1874                          NaN           NaN
                         1874                          NaN           NaN
                         1874                          NaN           NaN
                         1874                          NaN           NaN
                         1874                          NaN           NaN
                         1874                          NaN           NaN

                                                                      Repository  \
Department               AccessionYear
Ancient Near Eastern Art 1874           Metropolitan Museum of Art, New York, NY
                         1874           Metropolitan Museum of Art, New York, NY
                         1874           Metropolitan Museum of Art, New York, NY
                         1874           Metropolitan Museum of Art, New York, NY
                         1874           Metropolitan Museum of Art, New York, NY
                         1874           Metropolitan Museum of Art, New York, NY
                         1874           Metropolitan Museum of Art, New York, NY
                         1874           Metropolitan Museum of Art, New York, NY
                         1874           Metropolitan Museum of Art, New York, NY
                         1874           Metropolitan Museum of Art, New York, NY

                                                                         Tags  \
Department               AccessionYear
Ancient Near Eastern Art 1874                                             NaN
                         1874                                             NaN
                         1874                                             NaN
                         1874                                             NaN
                         1874                                         Animals
                         1874                                           Goats
                         1874                                         Animals
                         1874                                    Lions|Sphinx
                         1874           Human Figures|Lions|Griffins|Antelope
                         1874                           Human Figures|Animals

                                                                             Tags AAT URL  \
Department               AccessionYear
Ancient Near Eastern Art 1874                                                         NaN
                         1874                                                         NaN
                         1874                                                         NaN
                         1874                                                         NaN
                         1874                   http://vocab.getty.edu/page/aat/300249525
                         1874                   http://vocab.getty.edu/page/aat/300250122
                         1874                   http://vocab.getty.edu/page/aat/300249525
                         1874           http://vocab.getty.edu/page/aat/300310388|http...
                         1874           http://vocab.getty.edu/page/aat/300404114|http...
                         1874           http://vocab.getty.edu/page/aat/300404114|http...

                                                                        Tags Wikidata URL
Department               AccessionYear
Ancient Near Eastern Art 1874                                                         NaN
                         1874                                                         NaN
                         1874                                                         NaN
                         1874                                                         NaN
                         1874                          https://www.wikidata.org/wiki/Q729
                         1874                         https://www.wikidata.org/wiki/Q2934
                         1874                          https://www.wikidata.org/wiki/Q729
                         1874           https://www.wikidata.org/wiki/Q140|https://www...
                         1874           https://www.wikidata.org/wiki/Q5937779|https:/...
                         1874           https://www.wikidata.org/wiki/Q5937779|https:/...

[10 rows x 52 columns]

                                      Object Number  Is Highlight  \
Department    AccessionYear
The Libraries NaN                 ND673.R9 R83 1978          True
              NaN            N7433.4.S256 N63 1998a          True
              NaN               N6853.S255 S25 2002          True
              NaN               107.32 R746 no.113b          True
              NaN                ND3363.B5 C4 1984a          True
              NaN                    Z270.F8 O4 v.1          True
              NaN                   Z997 .R887 1912          True
              NaN                  Z1033.M6 C6 1823          True
              NaN               PN2620 .S6 v.1 1763          True
              NaN                 PR8861.L6 H5 1892          True

                             Is Timeline Work  Is Public Domain  Object ID  \
Department    AccessionYear
The Libraries NaN                       False             False     841614
              NaN                       False             False     843055
              NaN                       False             False     843056
              NaN                       False             False     843057
              NaN                       False             False     843280
              NaN                       False             False     845710
              NaN                       False              True     845711
              NaN                       False              True     845712
              NaN                       False              True     845713
              NaN                       False              True     845714

                            Gallery Number Object Name  \
Department    AccessionYear
The Libraries NaN                      NaN         NaN
              NaN                      NaN         NaN
              NaN                      NaN         NaN
              NaN                      NaN         NaN
              NaN                      NaN         NaN
              NaN                      NaN         NaN
              NaN                      NaN         NaN
              NaN                      NaN         NaN
              NaN                      NaN         NaN
              NaN                      NaN         NaN

                                                                         Title  \
Department    AccessionYear
The Libraries NaN            Rubens and Helene Fourment with their child by...
              NaN                       Noah's ark : Play Sculpture, Jerusalem
              NaN                             Niki de Saint Phalle tarot cards
              NaN                                         Niki de Saint Phalle
              NaN                       Les très riches heures du duc de Berry
              NaN            Manuel de l'amateur de reliures armoriées fran...
              NaN            A catalogue of the library of the late John, D...
              NaN                                       Publius Terentius Afer
              NaN            Les Spectacles de Paris, ou, Calendrier histor...
              NaN               Irish love-songs / selected by Katharine Tynan

                            Culture Period  ... River Classification  \
Department    AccessionYear                 ...
The Libraries NaN               NaN    NaN  ...   NaN              |
              NaN               NaN    NaN  ...   NaN            NaN
              NaN               NaN    NaN  ...   NaN              |
              NaN               NaN    NaN  ...   NaN            NaN
              NaN               NaN    NaN  ...   NaN              |
              NaN               NaN    NaN  ...   NaN              |
              NaN               NaN    NaN  ...   NaN              |
              NaN               NaN    NaN  ...   NaN              |
              NaN               NaN    NaN  ...   NaN              |
              NaN               NaN    NaN  ...   NaN              |

                            Rights and Reproduction  \
Department    AccessionYear
The Libraries NaN                               NaN
              NaN                               NaN
              NaN                               NaN
              NaN                               NaN
              NaN                               NaN
              NaN                               NaN
              NaN                               NaN
              NaN                               NaN
              NaN                               NaN
              NaN                               NaN

                                                                 Link Resource  \
Department    AccessionYear
The Libraries NaN            http://www.metmuseum.org/art/collection/search...
              NaN            http://www.metmuseum.org/art/collection/search...
              NaN            http://www.metmuseum.org/art/collection/search...
              NaN            http://www.metmuseum.org/art/collection/search...
              NaN            http://www.metmuseum.org/art/collection/search...
              NaN            http://www.metmuseum.org/art/collection/search...
              NaN            http://www.metmuseum.org/art/collection/search...
              NaN            http://www.metmuseum.org/art/collection/search...
              NaN            http://www.metmuseum.org/art/collection/search...
              NaN            http://www.metmuseum.org/art/collection/search...

                            Object Wikidata URL Metadata Date  \
Department    AccessionYear
The Libraries NaN                           NaN           NaN
              NaN                           NaN           NaN
              NaN                           NaN           NaN
              NaN                           NaN           NaN
              NaN                           NaN           NaN
              NaN                           NaN           NaN
              NaN                           NaN           NaN
              NaN                           NaN           NaN
              NaN                           NaN           NaN
              NaN                           NaN           NaN

                                                           Repository Tags  \
Department    AccessionYear
The Libraries NaN            Metropolitan Museum of Art, New York, NY  NaN
              NaN            Metropolitan Museum of Art, New York, NY  NaN
              NaN            Metropolitan Museum of Art, New York, NY  NaN
              NaN            Metropolitan Museum of Art, New York, NY  NaN
              NaN            Metropolitan Museum of Art, New York, NY  NaN
              NaN            Metropolitan Museum of Art, New York, NY  NaN
              NaN            Metropolitan Museum of Art, New York, NY  NaN
              NaN            Metropolitan Museum of Art, New York, NY  NaN
              NaN            Metropolitan Museum of Art, New York, NY  NaN
              NaN            Metropolitan Museum of Art, New York, NY  NaN

                            Tags AAT URL Tags Wikidata URL
Department    AccessionYear
The Libraries NaN                    NaN               NaN
              NaN                    NaN               NaN
              NaN                    NaN               NaN
              NaN                    NaN               NaN
              NaN                    NaN               NaN
              NaN                    NaN               NaN
              NaN                    NaN               NaN
              NaN                    NaN               NaN
              NaN                    NaN               NaN
              NaN                    NaN               NaN

[10 rows x 52 columns]

In [167]:
# Reading data again
df_metro = pd.read_csv("MetObjects.csv",low_memory=False)
df_metro.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [237]:
# Chapter 8: Task 4: Pivot the data
# Keep relevant columns
df_filter = df_metro.filter(
    items=[
        'Department', 'AccessionYear', 'Object Name'
    ]
)
df_filter

,Department,AccessionYear,Object Name
0,The American Wing,1979,Coin
1,The American Wing,1980,Coin
2,The American Wing,1967,Coin
3,The American Wing,1967,Coin
4,The American Wing,1967,Coin
...,...,...,...
474521,European Sculpture and Decorative Arts,1907,Figure group
474522,European Sculpture and Decorative Arts,1969,Overdoor
474523,Medieval Art,NaN,11 Stained Glass Fragments
474524,Medieval Art,NaN,108 Chairs and Chair Fragments
474525,Ancient Near Eastern Art,1961,Bowl

In [238]:
pivot_table_df = df_filter.pivot_table(index='Department', columns='AccessionYear', aggfunc={'AccessionYear':len}, fill_value=0)
pivot_table_df

                                          AccessionYear                       \
AccessionYear                                      1870 1871 1872 1873  1874
Department
Ancient Near Eastern Art                              0    0    0    0   136
Arms and Armor                                        0    0    0    0     0
Arts of Africa, Oceania, and the Americas             0    0    0    0     0
Asian Art                                             0    0    0    0     0
Costume Institute                                     0    0    0    0     0
Drawings and Prints                                   0    0    0    0     0
Egyptian Art                                          0    0    0    0     4
European Paintings                                    0   60    1    1     0
European Sculpture and Decorative Arts                0    0    2   60     1
Greek and Roman Art                                   1    0    0    0  5220
Islamic Art                                           0    0    0    0     3
Medieval Art                                          0    0    0    4     1
Modern and Contemporary Art                           0    0    0    0     0
Musical Instruments                                   0    0    0    0     0
Photographs                                           0    0    0    0     0
Robert Lehman Collection                              0    0    0    0     0
The American Wing                                     0    0    1    1    28
The Cloisters                                         0    0    0    0     0
The Libraries                                         0    0    0    0     0

                                                                    ...        \
AccessionYear                             1875 1876 1877 1878 1879  ...  2012
Department                                                          ...
Ancient Near Eastern Art                     0    0    0    0   36  ...     1
Arms and Armor                               0    0    0    0    0  ...    20
Arts of Africa, Oceania, and the Americas    0    0    1    0   27  ...    31
Asian Art                                    2    1    0    0  727  ...   106
Costume Institute                            0    0    0    0    1  ...   148
Drawings and Prints                          0    6    0    1    1  ...  2031
Egyptian Art                                 0    0    0    0    0  ...    12
European Paintings                           2    1    1    0    0  ...    14
European Sculpture and Decorative Arts       0    1    0    0  242  ...    74
Greek and Roman Art                         44   16    0    0    0  ...    27
Islamic Art                                  0    0    0    0   92  ...    36
Medieval Art                                 0    0    1    0    0  ...     3
Modern and Contemporary Art                  0    0    0    0    0  ...    43
Musical Instruments                          0    0    0    0    0  ...    16
Photographs                                  0    0    0    0    0  ...   365
Robert Lehman Collection                     0    0    0    0    0  ...     0
The American Wing                            1    2    7    0    0  ...    44
The Cloisters                                0    0    0    0    0  ...    10
The Libraries                                0    0    0    0    0  ...     0

                                                                          \
AccessionYear                             2013 2014 2015  2016 2017 2018
Department
Ancient Near Eastern Art                     0    1    1     0    0    0
Arms and Armor                              31   29   22    45   20   57
Arts of Africa, Oceania, and the Americas   88   55  109    23  160  100
Asian Art                                  313   91  715    71   73  258
Costume Institute                          247   88  106    87  499  182
Drawings and Prints                        390  890  406  1318  249  574
Egyptian Art                                 4   22    2   165    3    6
European Paintings                           6   12   11    27   19   16
European Sculpture and Decorative Arts      82   73  122    60   40  218
Greek and Roman Art                         13    4    6     4    2    1
Islamic Art                                 45   58  141    42   55   48
Medieval Art                                 8    2    0     4    2   15
Modern and Contemporary Art                126  182   92   263  212  121
Musical Instruments                         22   11   39    21   11    3
Photographs                                454  442  869   249  707  842
Robert Lehman Collection                     0    0    0     0    0    0
The American Wing                           60   83   45    83   77  477
The Cloisters                                9    8   14     8    1    2
The Libraries                                0    0    0     0    0    0


AccessionYear                              2019 2020 2020-03-23
Department
Ancient Near Eastern Art                      2    0          0
Arms and Armor                                9    3          0
Arts of Africa, Oceania, and the Americas    25    2          0
Asian Art                                   308   55          1
Costume Institute                            67   32          0
Drawings and Prints                        1083   29          0
Egyptian Art                                  3    0          0
European Paintings                           30    5          0
European Sculpture and Decorative Arts      188   37          0
Greek and Roman Art                           3    2          0
Islamic Art                                  44    2          0
Medieval Art                                  2    0          0
Modern and Contemporary Art                 106   26          0
Musical Instruments                           0    5          0
Photographs                                 485   13          0
Robert Lehman Collection                      0    0          0
The American Wing                            88  208          0
The Cloisters                                 1    0          0
The Libraries                                 0    0          0

[19 rows x 153 columns]

In [175]:
#Chapter 10
#Grouping with Dicts/Series
#Grouping with Functions
#Grouping with Index Levels
#Split/Apply/Combine
#Cross Tabs
df_metro['Department'].unique()

array(['The American Wing', 'European Sculpture and Decorative Arts',
       'Modern and Contemporary Art', 'Arms and Armor', 'Medieval Art',
       'Asian Art', 'Islamic Art', 'Costume Institute',
       'Arts of Africa, Oceania, and the Americas', 'Drawings and Prints',
       'Greek and Roman Art', 'Photographs', 'Ancient Near Eastern Art',
       'European Paintings', 'Robert Lehman Collection', 'The Cloisters',
       'Musical Instruments', 'Egyptian Art', 'The Libraries'],
      dtype=object)

In [220]:
# Chapter 10: Task 1 : Grouping with Functions - using count() function 
# to group them based on Department and Accession Year
df_group_by = df_metro.filter(
    items=[
        'Department','Object Name','AccessionYear'
    ]
)
# count() adds up all the Objects which have similar Department and Accession Year
df_group_by = df_group_by.groupby(['Department','AccessionYear']).count()
print(df_group_by)

                                        Object Name
Department               AccessionYear
Ancient Near Eastern Art 1874                   136
                         1879                    36
                         1881                    27
                         1884                     1
                         1885                     1
...                                             ...
The Cloisters            2016                     6
                         2017                     1
                         2018                     1
                         2019                     1
The Libraries            2009                     0

[2127 rows x 1 columns]

In [230]:
# Chapter 10: Task 2 : Grouping with Index Levels
df_group_by = df_metro.filter(
    items=[
        'Department','Object Name','AccessionYear'
    ]
)
#df_group_by
df_group_by = df_group_by.set_index(["Department","AccessionYear"],inplace=False)
df_group_by.sort_index(level=[0])
df_grp = df_group_by.groupby(by=["Department","AccessionYear"]).count()
df_grp

                                        Object Name
Department               AccessionYear
Ancient Near Eastern Art 1874                   136
                         1879                    36
                         1881                    27
                         1884                     1
                         1885                     1
...                                             ...
The Cloisters            2016                     6
                         2017                     1
                         2018                     1
                         2019                     1
The Libraries            2009                     0

[2127 rows x 1 columns]

In [233]:
# Chapter 10: Task 3 : Cross Tab
df_group_by = df_metro.filter(
    items=[
        'Department','Object Name','AccessionYear'
    ]
)
df_cross = pd.crosstab(df_group_by.Department,df_group_by.AccessionYear)
df_cross

AccessionYear,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2020-03-23
Department,,,,,,,,,,,,,,,,,,,,,
Ancient Near Eastern Art,0,0,0,0,136,0,0,0,0,36,...,1,0,1,1,0,0,0,2,0,0
Arms and Armor,0,0,0,0,0,0,0,0,0,0,...,20,31,29,22,45,20,57,9,3,0
"Arts of Africa, Oceania, and the Americas",0,0,0,0,0,0,0,1,0,27,...,31,88,55,109,23,160,100,25,2,0
Asian Art,0,0,0,0,0,2,1,0,0,727,...,106,313,91,715,71,73,258,308,55,1
Costume Institute,0,0,0,0,0,0,0,0,0,1,...,148,247,88,106,87,499,182,67,32,0
Drawings and Prints,0,0,0,0,0,0,6,0,1,1,...,2031,390,890,406,1318,249,574,1083,29,0
Egyptian Art,0,0,0,0,4,0,0,0,0,0,...,12,4,22,2,165,3,6,3,0,0
European Paintings,0,60,1,1,0,2,1,1,0,0,...,14,6,12,11,27,19,16,30,5,0
European Sculpture and Decorative Arts,0,0,2,60,1,0,1,0,0,242,...,74,82,73,122,60,40,218,188,37,0
Greek and Roman Art,1,0,0,0,5220,44,16,0,0,0,...,27,13,4,6,4,2,1,3,2,0
Islamic Art,0,0,0,0,3,0,0,0,0,92,...,36,45,58,141,42,55,48,44,2,0
Medieval Art,0,0,0,4,1,0,0,1,0,0,...,3,8,2,0,4,2,15,2,0,0
Modern and Contemporary Art,0,0,0,0,0,0,0,0,0,0,...,43,126,182,92,263,212,121,106,26,0
Musical Instruments,0,0,0,0,0,0,0,0,0,0,...,16,22,11,39,21,11,3,0,5,0
Photographs,0,0,0,0,0,0,0,0,0,0,...,365,454,442,869,249,707,842,485,13,0
Robert Lehman Collection,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The American Wing,0,0,1,1,28,1,2,7,0,0,...,44,60,83,45,83,77,477,88,208,0
The Cloisters,0,0,0,0,0,0,0,0,0,0,...,10,9,8,14,8,1,2,1,0,0
The Libraries,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Chapter 11
#Convert between string and date time
#Generate date range
#Frequencies and date offsets
#Convert timestamps to periods and back
#Period Frequency conversions

In [241]:
# Will use df_candy_2015
df_candy_2015

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,2015-10-23 08:46:20.451,35,No,JOY,NaN,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-10-23 08:47:34.285,33,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-10-23 08:47:58.964,31,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,2015-10-31 05:23:40.526,50,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5626,2015-10-31 05:29:26.937,43,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,Sunday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5627,2015-10-31 06:13:29.083,35,Yes,NaN,JOY,DESPAIR,JOY,NaN,NaN,DESPAIR,...,NaN,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5628,2015-10-31 06:26:52.566,38,No,JOY,JOY,JOY,JOY,JOY,JOY,JOY,...,JOY,Sunday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5629,2015-10-31 06:41:31.904,44,No,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,JOY,Friday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [278]:
# Chapter 11: Task 1: Convert between string and date time
from dateutil.parser import parse
from datetime import datetime
df_filter = df_candy_2015.filter(
    items=[
        'Timestamp','How old are you?','Are you going actually going trick or treating yourself?'
    ]
)
# Using strftime to remove the time and just keeping the date information
df_filter['Timestamp'] = df_filter['Timestamp'].dt.strftime('%Y-%m-%d')
display(df_filter)

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?
0,2015-10-23,35,No
1,2015-10-23,41,No
2,2015-10-23,33,No
3,2015-10-23,31,No
4,2015-10-23,30,No
...,...,...,...
5625,2015-10-31,50,No
5626,2015-10-31,43,No
5627,2015-10-31,35,Yes
5628,2015-10-31,38,No
5629,2015-10-31,44,No

In [329]:
# Chapter 11 : Task 2 : Convert timestamps to periods
from dateutil.parser import parse
from datetime import datetime
import pandas as pd

df_filter = df_candy_2015.filter(
    items=[
        'Timestamp','How old are you?','Are you going actually going trick or treating yourself?'
    ]
)
# Before 
display(df_filter)
df_filter['Period'] = df_filter['Timestamp'].dt.to_period('D')
df_filter['Back'] = df_filter['Period'].dt.to_timestamp(how='end')
# Checking Unique Values of Period
display(df_filter['Period'].unique())
# After
display(df_filter)

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?
0,2015-10-23 08:46:20.451,35,No
1,2015-10-23 08:46:51.583,41,No
2,2015-10-23 08:47:34.285,33,No
3,2015-10-23 08:47:58.964,31,No
4,2015-10-23 08:48:11.719,30,No
...,...,...,...
5625,2015-10-31 05:23:40.526,50,No
5626,2015-10-31 05:29:26.937,43,No
5627,2015-10-31 06:13:29.083,35,Yes
5628,2015-10-31 06:26:52.566,38,No
5629,2015-10-31 06:41:31.904,44,No

<PeriodArray>
['2015-10-23', '2015-10-24', '2015-10-25', '2015-10-26', '2015-10-27',
 '2015-10-28', '2015-10-29', '2015-10-30', '2015-10-31']
Length: 9, dtype: period[D]

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,Period,Back
0,2015-10-23 08:46:20.451,35,No,2015-10-23,2015-10-23 23:59:59.999999999
1,2015-10-23 08:46:51.583,41,No,2015-10-23,2015-10-23 23:59:59.999999999
2,2015-10-23 08:47:34.285,33,No,2015-10-23,2015-10-23 23:59:59.999999999
3,2015-10-23 08:47:58.964,31,No,2015-10-23,2015-10-23 23:59:59.999999999
4,2015-10-23 08:48:11.719,30,No,2015-10-23,2015-10-23 23:59:59.999999999
...,...,...,...,...,...
5625,2015-10-31 05:23:40.526,50,No,2015-10-31,2015-10-31 23:59:59.999999999
5626,2015-10-31 05:29:26.937,43,No,2015-10-31,2015-10-31 23:59:59.999999999
5627,2015-10-31 06:13:29.083,35,Yes,2015-10-31,2015-10-31 23:59:59.999999999
5628,2015-10-31 06:26:52.566,38,No,2015-10-31,2015-10-31 23:59:59.999999999
5629,2015-10-31 06:41:31.904,44,No,2015-10-31,2015-10-31 23:59:59.999999999

In [331]:
# Chapter 11 : Task 3 : Generate date range
df_filter = df_candy_2015.filter(
    items=[
        'Timestamp','How old are you?','Are you going actually going trick or treating yourself?'
    ]
)

# Task says to generate data range - not sure how to attach this to existing data
df = pd.DataFrame(np.random.random((90,3)))
df['date'] = pd.date_range('2015-10-1', periods=90, freq='D')
df = df.set_index(['date'])
print(df.loc['2015-10-1':'2016-6-10'])

                   0         1         2
date
2015-10-01  0.755534  0.968246  0.782273
2015-10-02  0.120736  0.933845  0.615704
2015-10-03  0.759140  0.588840  0.943762
2015-10-04  0.894591  0.870724  0.589032
2015-10-05  0.879041  0.842147  0.311646
...              ...       ...       ...
2015-12-25  0.308887  0.644840  0.042612
2015-12-26  0.045999  0.501575  0.756832
2015-12-27  0.008717  0.392016  0.471375
2015-12-28  0.079845  0.021527  0.975351
2015-12-29  0.757234  0.643780  0.467933

[90 rows x 3 columns]