##########################################################
#### File: RattanavilayThip_Project_Milestone_3<br>
#### Name: Thip Rattanavilay<br>
#### Date: 05/6/2021<br>
#### Course: DSC 540 - Project Milestone 3<br>
##########################################################

# Cleaning/Formatting Website Data

In [1]:
import requests
import lxml.html as lh
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup

In [2]:
#Sending request to the website so I can start to pull back data
url = 'https://www.worldometers.info/coronavirus/#countries'
page = requests.get(url)
print(page.status_code) #Checking the http response status code. Should be 200

200

In [3]:
#Used Beautiful Soup to pull in website data, but this is the full website nothing specific
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Coronavirus Update (Live): 5,779,327 Cases and 356,732 Deaths from COVID-19 Virus Pandemic - Worldometer
  </title>
  <meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
   <link href="/css/bootstrap.min.css" rel="stylesheet"/>
   <link href="/wm16.css" rel="stylesheet"/>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
   </script>
   <script src="/js/bootstrap.min.js">
   </script>
   <script src="/js/ie10-viewport-bug-workaround.js">
   </script>
   <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
    </script>
    <script data-cfasync="false" type="text/javascript">
     var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
    </script>
   </link>
  </meta>
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
   </script>
   <script>
    window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
   </script>
   <style type="text/css">
    .style1 {
        color: #666666
    }
   </style>
   <div class="navbar navbar-default">
    <div class="container">
     <div class="navbar-header">
      <div class="logo">
       <a class="navbar-brand" href="/">
        <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
       </a>
      </div>
      <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
      </button>
     </div>
     <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
       <li>
        <a href="/coronavirus/">
         <span style="color:#FF9900; font-weight:bold">
          Coronavirus
         </span>
        </a>
       </li>
       <li>
        <a href="/population/">
         Population
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="container">
    <div class="row">
     <div style="text-align:left; margin-bottom:10px">
      <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
      </script>
      <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
      </ins>
      <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
     </div>
    </div>
    <div class="row">
     <div class="col-md-8">
      <div class="content-inner">
       <style>
        .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
       </style>
       <script src="https://code.highcharts.com/highcharts.js">
       </script>
       <style type="text/css">
        <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
       </style>
       <div class="label-counter" id="page-top">
        COVID-19 Coronavirus Pandemic
       </div>
       <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
        Last updated: May 27, 2020, 22:56 GMT
       </div>
       <div style="margin-top:20px; text-align:center; font-size:14px">
        <a href="/coronavirus/coronavirus-cases/">
        </a>
        <a href="/coronavirus/worldwide-graphs/">
         Graphs
        </a>
        -
        <a href="#countries">
         Countries
        </a>
        -
        <a href="/coronavirus/coronavirus-death-rate/">
         Death Rate
        </a>
        -
        <a href="/coronavirus/coronavirus-symptoms/">
         Symptoms
        </a>
        -
        <a href="/coronavirus/coronavirus-incubation-period/">
         Incubation
        </a>
        -
        <strong>
        </strong>
        <strong>
        </strong>
        <a href="/coronavirus/transmission/">
         Transmission
        </a>
        -
        <a href="#news">
         News
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Coronavirus Cases:
        </h1>
        <div class="maincounter-number">
         <span style="color:#aaa">
          5,779,327
         </span>
        </div>
       </div>
       <div style="text-align:center ">
        <a href="#countries">
         view by country
        </a>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px">
        <h1>
         Deaths:
        </h1>
        <div class="maincounter-number">
         <span>
          356,732
         </span>
        </div>
       </div>
       <div id="maincounter-wrap" style="margin-top:15px;">
        <h1>
         Recovered:
        </h1>
        <div class="maincounter-number" style="color:#8ACA2B ">
         <span>
          2,490,659
         </span>
        </div>
       </div>
       <div style="margin-top:50px;">
       </div>
       <style>
        .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
       </style>
       <script>
        $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
       </script>
       <div class="col-md-6">
        <div class="panel panel-default">
         <div class="panel-heading" style="text-align:center">
          <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
           Active Cases
          </span>
         </div>
         <div class="panel-body" style="text-align:center; height:200px;">
          <div class="panel_flip">
           <div class="panel_front" style="width:100%;height:100%;">
            <div class="number-table-main">
             2,931,936
            </div>
            <div style="font-size:13.5px">
             Currently Infected Patients
            </div>
            <div style="padding-top:20px;position:relative;text-align:center; ">
             <div style="float:left; text-align:center">
              <span class="number-table" style="color:#8080FF">
               2,879,048
              </span>
              (
              <strong>
               98
              </strong>
              %)
              <div style="font-size:13px">
               in Mild Condition
              </div>
              <br/>
             </div>
             <div style="float:right; text-align:center">
              <span class="number-table" style="color:red ">
               52,888
              </span>
              (
              <strong>
               2
              </strong>
              %)
              <div style="font-size:13px">
               Serious or Critical
              </div>
              <br/>
             </div>
            </div>
            <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">
             Show Graph
            </a>
           </div>
           <div class="panel_back" style="width:100%;height:100%;">
            <div id="total-currently-infected-linear">
            </div>
            <script type="text/javascript">
             Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {
            categories: ["Jan 22","Jan 23","Jan 24","Jan 25","Jan 26","Jan 27","Jan 28","Jan 29","Jan 30","Jan 31","Feb 01","Feb 02","Feb 03","Feb 04","Feb 05","Feb 06","Feb 07","Feb 08","Feb 09","Feb 10","Feb 11","Feb 12","Feb 13","Feb 14","Feb 15","Feb 16","Feb 17","Feb 18","Feb 19","Feb 20","Feb 21","Feb 22","Feb 23","Feb 24","Feb 25","Feb 26","Feb 27","Feb 28","Feb 29","Mar 01","Mar 02","Mar 03","Mar 04","Mar 05","Mar 06","Mar 07","Mar 08","Mar 09","Mar 10","Mar 11","Mar 12","Mar 13","Mar 14","Mar 15","Mar 16","Mar 17","Mar 18","Mar 19","Mar 20","Mar 21","Mar 22","Mar 23","Mar 24","Mar 25","Mar 26","Mar 27","Mar 28","Mar 29","Mar 30","Mar 31","Apr 01","Apr 02","Apr 03","Apr 04","Apr 05","Apr 06","Apr 07","Apr 08","Apr 09","Apr 10","Apr 11","Apr 12","Apr 13","Apr 14","Apr 15","Apr 16","Apr 17","Apr 18","Apr 19","Apr 20","Apr 21","Apr 22","Apr 23","Apr 24","Apr 25","Apr 26","Apr 27","Apr 28","Apr 29","Apr 30","May 01","May 02","May 03","May 04","May 05","May 06","May 07","May 08","May 09","May 10","May 11","May 12","May 13","May 14","May 15","May 16","May 17","May 18","May 19","May 20","May 21","May 22","May 23","May 24","May 25","May 26"]
        },

        yAxis: {
            title: {
                text: 'Currently Infected',
                enabled: false

            }
            /*tickInterval: 20000,*/

            /*categories: [0,50000],
            labels: {

                format: "{value:,.%0f}"
            }*/
            /*labels: {
                step: 15
            }*/

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: false
        },

        credits: {
            enabled: false
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false
                }
            }
        },


        series: [{
            name: 'Currently Infected',
            color: '#00DDDD',
            lineWidth: 5,
            data: [563,786,1238,1910,2669,4415,5823,7519,9439,11448,13921,16525,19561,23146,26528,29239,32069,34055,36320,38038,39216,52039,56247,57378,57990,58581,58747,58622,57217,55906,54418,53541,51596,49922,48014,46215,43734,42262,41297,40413,39218,38870,38505,39433,40948,42329,43887,46303,48032,53281,59170,67415,74711,85531,95631,107547,124539,146777,172700,196603,224336,260491,295060,335727,384149,436201,490510,538353,584367,640973,697074,753153,827122,887092,938852,989971,1041731,1091651,1143719,1210632,1258731,1304843,1349270,1381708,1425589,1466975,1521213,1569611,1610203,1658063,1682147,1727860,1777002,1805029,1849613,1896098,1913677,1950879,1978572,2018782,2066023,2102643,2147866,2181815,2210668,2239980,2288242,2337180,2367812,2403921,2438133,2446836,2469840,2516152,2556211,2593947,2626180,2662898,2699967,2733276,2777168,2773850,2811501,2850928,2875716,2898342]        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
            </script>
            <a class="flip_cases_back" href="javascript: void(0);" style="clear: both;position: absolute;width:100%;bottom:-8px;left:0;">
             Show Statistics
            </a>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="col-md-6">
        <div class="panel panel-default">
         <div class="panel-heading" style="text-align:center;">
          <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
           Closed Cases
          </span>
         </div>
         <div class="panel-body" style="text-align:center;height:200px;">
          <div class="panel_flip">
           <div class="panel_front" style="width:100%;height:100%;">
            <div class="number-table-main">
             2,847,391
            </div>
            <div style="font-size:13.5px">
             Cases which had an outcome:
            </div>
            <div style="padding-top:20px ">
             <div style="float:left; text-align:center">
              <span class="number-table" style="color:#8ACA2B">
               2,490,659
              </span>
              (
              <strong>
               87
              </strong>
              %)
              <div style="font-size:13px">
               Recovered / Discharged
              </div>
              <br/>
             </div>

In [4]:
#Looking for all tables on the website
all_tables=soup.find_all("table")
all_tables
#Calling out the specific table that I want to use. This part was tricky as it had verbose looking class name, but turns out it was literally just table
right_table = soup.find('table',{'class':'table'})
right_table

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;">
<thead>
<tr>
<th>#</th>
<th width="100">Country,<br>Other</br></th>
<th width="20">Total<br>Cases</br></th>
<th width="30">New<br>Cases</br></th>
<th width="30">Total<br>Deaths</br></th>
<th width="30">New<br>Deaths</br></th>
<th width="30">Total<br>Recovered</br></th>
<th width="30">Active<br>Cases</br></th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">TotCases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>1,951,096</td>
<td>+24,718</td>
<td>118,248</td>
<td>+2,085</td>
<td>606,305</td>
<td>1,226,543</td>
<td>18,228</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>716,073</td>
<td>+32,331</td>
<td>35,323</td>
<td>+1,399</td>
<td>287,484</td>
<td>393,266</td>
<td>11,035</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>1,950,083</td>
<td>+16,002</td>
<td>170,631</td>
<td>+1,030</td>
<td>931,561</td>
<td>847,891</td>
<td>9,518</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>1,026,155</td>
<td>+23,237</td>
<td>28,681</td>
<td>+466</td>
<td>604,001</td>
<td>393,473</td>
<td>13,749</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>126,452</td>
<td>+4,905</td>
<td>3,710</td>
<td>+97</td>
<td>52,528</td>
<td>70,214</td>
<td>348</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>8,747</td>
<td>+6</td>
<td>124</td>
<td>+1</td>
<td>8,129</td>
<td>494</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>651</td>
<td>55</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>5,779,327</td>
<td>+101,199</td>
<td>356,732</td>
<td>+5,078</td>
<td>2,490,659</td>
<td>2,931,936</td>
<td>52,888</td>
<td>741</td>
<td>45.8</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">1,744,276</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+19,019</td>
<td style="font-weight: bold; text-align:right;">102,009 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1,437</td>
<td style="font-weight: bold; text-align:right">486,112</td>
<td style="text-align:right;font-weight:bold;">1,156,155</td>
<td style="font-weight: bold; text-align:right">17,082</td>
<td style="font-weight: bold; text-align:right">5,273</td>
<td style="font-weight: bold; text-align:right">308</td>
<td style="font-weight: bold; text-align:right">15,822,759</td>
<td style="font-weight: bold; text-align:right">47,829</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">330,817,010</a> </td>
<td data-continent="North America" style="display:none">North America</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">411,821</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+19,461</td>
<td style="font-weight: bold; text-align:right;">25,598 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1,049</td>
<td style="font-weight: bold; text-align:right">166,647</td>
<td style="text-align:right;font-weight:bold;">219,576</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">1,939</td>
<td style="font-weight: bold; text-align:right">121</td>
<td style="font-weight: bold; text-align:right">871,839</td>
<td style="font-weight: bold; text-align:right">4,104</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">212,413,908</a> </td>
<td data-continent="South America" style="display:none">South America</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">370,680</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+8,338</td>
<td style="font-weight: bold; text-align:right;">3,968 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+161</td>
<td style="font-weight: bold; text-align:right">142,208</td>
<td style="text-align:right;font-weight:bold;">224,504</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">2,540</td>
<td style="font-weight: bold; text-align:right">27</td>
<td style="font-weight: bold; text-align:right">9,415,992</td>
<td style="font-weight: bold; text-align:right">64,525</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,928,655</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td style="font-weight: bold; text-align:right">283,849</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+510</td>
<td style="font-weight: bold; text-align:right;">27,118 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+1</td>
<td style="font-weight: bold; text-align:right">196,958</td>
<td style="text-align:right;font-weight:bold;">59,773</td>
<td style="font-weight: bold; text-align:right">854</td>
<td style="font-weight: bold; text-align:right">6,071</td>
<td style="font-weight: bold; text-align:right">580</td>
<td style="font-weight: bold; text-align:right">3,556,567</td>
<td style="font-weight: bold; text-align:right">76,071</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,753,098</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">267,240</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2,013</td>
<td style="font-weight: bold; text-align:right;">37,460 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+412</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">1,559</td>
<td style="font-weight: bold; text-align:right">3,939</td>
<td style="font-weight: bold; text-align:right">552</td>
<td style="font-weight: bold; text-align:right">3,798,490</td>
<td style="font-weight: bold; text-align:right">55,982</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">67,852,019</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">231,139</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+584</td>
<td style="font-weight: bold; text-align:right;">33,072 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+117</td>
<td style="font-weight: bold; text-align:right">147,101</td>
<td style="text-align:right;font-weight:bold;">50,966</td>
<td style="font-weight: bold; text-align:right">505</td>
<td style="font-weight: bold; text-align:right">3,822</td>
<td style="font-weight: bold; text-align:right">547</td>
<td style="font-weight: bold; text-align:right">3,607,251</td>
<td style="font-weight: bold; text-align:right">59,654</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,469,988</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">182,913</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+191</td>
<td style="font-weight: bold; text-align:right;">28,596 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+66</td>
<td style="font-weight: bold; text-align:right">66,584</td>
<td style="text-align:right;font-weight:bold;">87,733</td>
<td style="font-weight: bold; text-align:right">1,501</td>
<td style="font-weight: bold; text-align:right">2,803</td>
<td style="font-weight: bold; text-align:right">438</td>
<td style="font-weight: bold; text-align:right">1,384,633</td>
<td style="font-weight: bold; text-align:right">21,217</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,259,974</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">181,895</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+607</td>
<td style="font-weight: bold; text-align:right;">8,533 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+35</td>
<td style="font-weight: bold; text-align:right">162,800</td>
<td style="text-align:right;font-weight:bold;">10,562</td>
<td style="font-weight: bold; text-align:right">763</td>
<td style="font-weight: bold; text-align:right">2,172</td>
<td style="font-weight: bold; text-align:right">102</td>
<td style="font-weight: bold; text-align:right">3,952,971</td>
<td style="font-weight: bold; text-align:right">47,195</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,758,696</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">159,797</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,035</td>
<td style="font-weight: bold; text-align:right;">4,431 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+34</td>
<td style="font-weight: bold; text-align:right">122,793</td>
<td style="text-align:right;font-weight:bold;">32,573</td>
<td style="font-weight: bold; text-align:right">723</td>
<td style="font-weight: bold; text-align:right">1,897</td>
<td style="font-weight: bold; text-align:right">53</td>
<td style="font-weight: bold; text-align:right">1,894,650</td>
<td style="font-weight: bold; text-align:right">22,488</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,249,900</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">158,086</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+7,293</td>
<td style="font-weight: bold; text-align:right;">4,534 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+190</td>
<td style="font-weight: bold; text-align:right">67,749</td>
<td style="text-align:right;font-weight:bold;">85,803</td>
<td style="font-weight: bold; text-align:right">8,944</td>
<td style="font-weight: bold; text-align:right">115</td>
<td style="font-weight: bold; text-align:right">3</td>
<td style="font-weight: bold; text-align:right">3,242,160</td>
<td style="font-weight: bold; text-align:right">2,352</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,378,678,095</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
<td style="font-weight: bold; text-align:right">141,591</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2,080</td>
<td style="font-weight: bold; text-align:right;">7,564 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+56</td>
<td style="font-weight: bold; text-align:right">111,176</td>
<td style="text-align:right;font-weight:bold;">22,851</td>
<td style="font-weight: bold; text-align:right">2,551</td>
<td style="font-weight: bold; text-align:right">1,688</td>
<td style="font-weight: bold; text-align:right">90</td>
<td style="font-weight: bold; text-align:right">856,546</td>
<td style="font-weight: bold; text-align:right">10,211</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/iran-population/">83,886,140</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/peru/">Peru</a></td>
<td style="font-weight: bold; text-align:right">135,905</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,154</td>
<td style="font-weight: bold; text-align:right;">3,983 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+195</td>
<td style="font-weight: bold; text-align:right">56,169</td>
<td style="text-align:right;font-weight:bold;">75,753</td>
<td style="font-weight: bold; text-align:right">926</td>
<td style="font-weight: bold; text-align:right">4,128</td>
<td style="font-weight: bold; text-align:right">121</td>
<td style="font-weight: bold; text-align:right">905,278</td>
<td style="font-weight: bold; text-align:right">27,494</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/peru-population/">32,925,941</a> </td>
<td data-continent="South America" style="display:none">South America</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/canada/">Canada</a></td>
<td style="font-weight: bold; text-align:right">87,519</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+872</td>
<td style="font-weight: bold; text-align:right;">6,765 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+126</td>
<td style="font-weight: bold; text-align:right">46,164</td>
<td style="text-align:right;font-weight:bold;">34,590</td>
<td style="font-weight: bold; text-align:right">502</td>
<td style="font-weight: bold; text-align:right">2,321</td>
<td style="font-weight: bold; text-align:right">179</td>
<td style="font-weight: bold; text-align:right">1,528,315</td>
<td style="font-weight: bold; text-align:right">40,528</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/canada-population/">37,709,994</a> </td>
<td data-continent="North America" style="display:none">North America</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">14</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/chile/">Chile</a></td>
<td style="font-weight: bold; text-align:right">82,289</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+4,328</td>
<td style="font-weight: bold; text-align:right;">841 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+35</td>
<td style="font-weight: bold; text-align:right">33,540</td>
<td style="text-align:right;font-weight:bold;">47,908</td>
<td style="font-weight: bold; text-align:right">1,251</td>
<td style="font-weight: bold; text-align:right">4,308</td>
<td style="font-weight: bold; text-align:right">44</td>
<td style="font-weight: bold; text-align:right">514,523</td>
<td style="font-weight: bold; text-align:right">26,938</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/chile-population/">19,100,270</a> </td>
<td data-continent="South America" style="display:none">South America</td>
</tr>

In [5]:
#Used the book for reference on how to get the column headers
col_headers = [th.getText() for th in right_table.findAll('th')]
col_headers

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop\n',
 'Population',
 'Continent']

In [6]:
#Now I need to get all the data from the tables
data = [ [ td.text for td in tr.find_all("td") ] for tr in right_table.find_all("tr")]
data #This pulled all of the continents that were shown as tabs in the table as well as the piece I want

[[],
 ['',
  '\nNorth America\n',
  '1,951,096',
  '+24,718',
  '118,248',
  '+2,085',
  '606,305',
  '1,226,543',
  '18,228',
  '',
  '',
  '',
  '',
  '',
  'North America'],
 ['',
  '\nSouth America\n',
  '716,073',
  '+32,331',
  '35,323',
  '+1,399',
  '287,484',
  '393,266',
  '11,035',
  '',
  '',
  '',
  '',
  '',
  'South America'],
 ['',
  '\nEurope\n',
  '1,950,083',
  '+16,002',
  '170,631',
  '+1,030',
  '931,561',
  '847,891',
  '9,518',
  '',
  '',
  '',
  '',
  '',
  'Europe'],
 ['',
  '\nAsia\n',
  '1,026,155',
  '+23,237',
  '28,681',
  '+466',
  '604,001',
  '393,473',
  '13,749',
  '',
  '',
  '',
  '',
  '',
  'Asia'],
 ['',
  '\nAfrica\n',
  '126,452',
  '+4,905',
  '3,710',
  '+97',
  '52,528',
  '70,214',
  '348',
  '',
  '',
  '',
  '',
  '',
  'Africa'],
 ['',
  '\nOceania\n',
  '8,747',
  '+6',
  '124',
  '+1',
  '8,129',
  '494',
  '6',
  '',
  '',
  '',
  '',
  '',
  'Australia/Oceania'],
 ['', '\n\n', '721', '', '15', '', '651', '55', '4', '', '', '', '', '', ''],
 ['',
  'World',
  '5,779,327',
  '+101,199',
  '356,732',
  '+5,078',
  '2,490,659',
  '2,931,936',
  '52,888',
  '741',
  '45.8',
  '',
  '',
  '',
  'All'],
 ['1',
  'USA',
  '1,744,276',
  '+19,019',
  '102,009 ',
  '+1,437',
  '486,112',
  '1,156,155',
  '17,082',
  '5,273',
  '308',
  '15,822,759',
  '47,829',
  '330,817,010 ',
  'North America'],
 ['2',
  'Brazil',
  '411,821',
  '+19,461',
  '25,598 ',
  '+1,049',
  '166,647',
  '219,576',
  '8,318',
  '1,939',
  '121',
  '871,839',
  '4,104',
  '212,413,908 ',
  'South America'],
 ['3',
  'Russia',
  '370,680',
  '+8,338',
  '3,968 ',
  '+161',
  '142,208',
  '224,504',
  '2,300',
  '2,540',
  '27',
  '9,415,992',
  '64,525',
  '145,928,655 ',
  'Europe'],
 ['4',
  'Spain',
  '283,849',
  '+510',
  '27,118 ',
  '+1',
  '196,958',
  '59,773',
  '854',
  '6,071',
  '580',
  '3,556,567',
  '76,071',
  '46,753,098 ',
  'Europe'],
 ['5',
  'UK',
  '267,240',
  '+2,013',
  '37,460 ',
  '+412',
  'N/A',
  'N/A',
  '1,559',
  '3,939',
  '552',
  '3,798,490',
  '55,982',
  '67,852,019 ',
  'Europe'],
 ['6',
  'Italy',
  '231,139',
  '+584',
  '33,072 ',
  '+117',
  '147,101',
  '50,966',
  '505',
  '3,822',
  '547',
  '3,607,251',
  '59,654',
  '60,469,988 ',
  'Europe'],
 ['7',
  'France',
  '182,913',
  '+191',
  '28,596 ',
  '+66',
  '66,584',
  '87,733',
  '1,501',
  '2,803',
  '438',
  '1,384,633',
  '21,217',
  '65,259,974 ',
  'Europe'],
 ['8',
  'Germany',
  '181,895',
  '+607',
  '8,533 ',
  '+35',
  '162,800',
  '10,562',
  '763',
  '2,172',
  '102',
  '3,952,971',
  '47,195',
  '83,758,696 ',
  'Europe'],
 ['9',
  'Turkey',
  '159,797',
  '+1,035',
  '4,431 ',
  '+34',
  '122,793',
  '32,573',
  '723',
  '1,897',
  '53',
  '1,894,650',
  '22,488',
  '84,249,900 ',
  'Asia'],
 ['10',
  'India',
  '158,086',
  '+7,293',
  '4,534 ',
  '+190',
  '67,749',
  '85,803',
  '8,944',
  '115',
  '3',
  '3,242,160',
  '2,352',
  '1,378,678,095 ',
  'Asia'],
 ['11',
  'Iran',
  '141,591',
  '+2,080',
  '7,564 ',
  '+56',
  '111,176',
  '22,851',
  '2,551',
  '1,688',
  '90',
  '856,546',
  '10,211',
  '83,886,140 ',
  'Asia'],
 ['12',
  'Peru',
  '135,905',
  '+6,154',
  '3,983 ',
  '+195',
  '56,169',
  '75,753',
  '926',
  '4,128',
  '121',
  '905,278',
  '27,494',
  '32,925,941 ',
  'South America'],
 ['13',
  'Canada',
  '87,519',
  '+872',
  '6,765 ',
  '+126',
  '46,164',
  '34,590',
  '502',
  '2,321',
  '179',
  '1,528,315',
  '40,528',
  '37,709,994 ',
  'North America'],
 ['14',
  'Chile',
  '82,289',
  '+4,328',
  '841 ',
  '+35',
  '33,540',
  '47,908',
  '1,251',
  '4,308',
  '44',
  '514,523',
  '26,938',
  '19,100,270 ',
  'South America'],
 ['15',
  'Saudi Arabia',
  '78,541',
  '+1,815',
  '425 ',
  '+14',
  '51,022',
  '27,094',
  '384',
  '2,260',
  '12',
  '754,268',
  '21,700',
  '34,759,189 ',
  'Asia'],
 ['16',
  'Mexico',
  '74,560',
  '+3,455',
  '8,134 ',
  '+501',
  '52,219',
  '14,207',
  '378',
  '579',
  '63',
  '235,129',
  '1,826',
  '128,799,843 ',
  'North America'],
 ['17',
  'Pakistan',
  '59,151',
  '+1,446',
  '1,225 ',
  '+28',
  '19,142',
  '38,784',
  '111',
  '268',
  '6',
  '499,399',
  '2,265',
  '220,450,694 ',
  'Asia'],
 ['18',
  'Belgium',
  '57,592',
  '+137',
  '9,364 ',
  '+30',
  '15,465',
  '32,763',
  '220',
  '4,971',
  '808',
  '804,890',
  '69,478',
  '11,584,839 ',
  'Europe'],
 ['19',
  'Qatar',
  '48,947',
  '+1,740',
  '30 ',
  '+2',
  '13,283',
  '35,634',
  '203',
  '17,018',
  '10',
  '201,180',
  '69,949',
  '2,876,111 ',
  'Asia'],
 ['20',
  'Netherlands',
  '45,768',
  '+190',
  '5,871 ',
  '+15',
  'N/A',
  'N/A',
  '188',
  '2,672',
  '343',
  '335,524',
  '19,585',
  '17,131,319 ',
  'Europe'],
 ['21',
  'Belarus',
  '38,956',
  '+897',
  '214 ',
  '+6',
  '15,923',
  '22,819',
  '92',
  '4,122',
  '23',
  '485,534',
  '51,381',
  '9,449,610 ',
  'Europe'],
 ['22',
  'Bangladesh',
  '38,292',
  '+1,541',
  '544 ',
  '+22',
  '7,925',
  '29,823',
  '1',
  '233',
  '3',
  '266,456',
  '1,620',
  '164,528,877 ',
  'Asia'],
 ['23',
  'Ecuador',
  '38,103',
  '+748',
  '3,275 ',
  '+72',
  '18,425',
  '16,403',
  '219',
  '2,163',
  '186',
  '109,541',
  '6,218',
  '17,616,090 ',
  'South America'],
 ['24',
  'Sweden',
  '35,088',
  '+648',
  '4,220 ',
  '+95',
  '4,971',
  '25,897',
  '264',
  '3,476',
  '418',
  '238,800',
  '23,659',
  '10,093,230 ',
  'Europe'],
 ['25',
  'Singapore',
  '32,876',
  '+533',
  '23 ',
  '',
  '17,276',
  '15,577',
  '7',
  '5,624',
  '4',
  '334,691',
  '57,252',
  '5,845,893 ',
  'Asia'],
 ['26',
  'UAE',
  '31,969',
  '+883',
  '255 ',
  '+2',
  '16,371',
  '15,343',
  '1',
  '3,236',
  '26',
  '2,072,493',
  '209,797',
  '9,878,576 ',
  'Asia'],
 ['27',
  'Portugal',
  '31,292',
  '+285',
  '1,356 ',
  '+14',
  '18,349',
  '11,587',
  '66',
  '3,068',
  '133',
  '764,093',
  '74,915',
  '10,199,416 ',
  'Europe'],
 ['28',
  'Switzerland',
  '30,776',
  '+15',
  '1,917 ',
  '+2',
  '28,300',
  '559',
  '42',
  '3,559',
  '222',
  '380,671',
  '44,016',
  '8,648,520 ',
  'Europe'],
 ['29',
  'South Africa',
  '25,937',
  '+1,673',
  '552 ',
  '+28',
  '13,451',
  '11,934',
  '128',
  '438',
  '9',
  '634,996',
  '10,720',
  '59,234,476 ',
  'Africa'],
 ['30',
  'Ireland',
  '24,803',
  '+68',
  '1,631 ',
  '+16',
  '22,089',
  '1,083',
  '54',
  '5,029',
  '331',
  '325,795',
  '66,053',
  '4,932,355 ',
  'Europe'],
 ['31',
  'Colombia',
  '24,104',
  '+1,101',
  '803 ',
  '+27',
  '6,111',
  '17,190',
  '136',
  '474',
  '16',
  '271,118',
  '5,334',
  '50,829,634 ',
  'South America'],
 ['32',
  'Indonesia',
  '23,851',
  '+686',
  '1,473 ',
  '+55',
  '6,057',
  '16,321',
  '',
  '87',
  '5',
  '278,411',
  '1,019',
  '273,239,726 ',
  'Asia'],
 ['33',
  'Kuwait',
  '23,267',
  '+692',
  '175 ',
  '+3',
  '7,946',
  '15,146',
  '193',
  '5,456',
  '41',
  '278,945',
  '65,415',
  '4,264,228 ',
  'Asia'],
 ['34',
  'Poland',
  '22,473',
  '+399',
  '1,028 ',
  '+4',
  '10,330',
  '11,115',
  '160',
  '594',
  '27',
  '824,774',
  '21,790',
  '37,850,425 ',
  'Europe'],
 ['35',
  'Ukraine',
  '21,905',
  '+321',
  '658 ',
  '+14',
  '7,995',
  '13,252',
  '259',
  '501',
  '15',
  '312,532',
  '7,142',
  '43,757,273 ',
  'Europe'],
 ['36',
  'Egypt',
  '19,666',
  '+910',
  '816 ',
  '+19',
  '5,205',
  '13,645',
  '41',
  '193',
  '8',
  '135,000',
  '1,322',
  '102,136,256 ',
  'Africa'],
 ['37',
  'Romania',
  '18,594',
  '+165',
  '1,227 ',
  '+11',
  '12,162',
  '5,205',
  '198',
  '966',
  '64',
  '397,563',
  '20,654',
  '19,249,131 ',
  'Europe'],
 ['38',
  'Israel',
  '16,793',
  '+36',
  '281 ',
  '',
  '14,570',
  '1,942',
  '39',
  '1,826',
  '31',
  '552,471',
  '60,067',
  '9,197,590 ',
  'Asia'],
 ['39',
  'Japan',
  '16,651',
  '+28',
  '858 ',
  '+12',
  '13,810',
  '1,983',
  '147',
  '132',
  '7',
  '278,642',
  '2,203',
  '126,511,690 ',
  'Asia'],
 ['40',
  'Austria',
  '16,591',
  '+34',
  '645 ',
  '+2',
  '15,228',
  '718',
  '32',
  '1,843',
  '72',
  '418,706',
  '46,515',
  '9,001,487 ',
  'Europe'],
 ['41',
  'Dominican Republic',
  '15,723',
  '+459',
  '474 ',
  '+6',
  '8,790',
  '6,459',
  '123',
  '1,451',
  '44',
  '70,972',
  '6,549',
  '10,837,265 ',
  'North America'],
 ['42',
  'Philippines',
  '15,049',
  '+380',
  '904 ',
  '+18',
  '3,506',
  '10,639',
  '81',
  '138',
  '8',
  '315,363',
  '2,882',
  '109,435,773 ',
  'Asia'],
 ['43',
  'Argentina',
  '13,228',
  '',
  '492 ',
  '+8',
  '4,349',
  '8,387',
  '171',
  '293',
  '11',
  '140,218',
  '3,105',
  '45,155,378 ',
  'South America'],
 ['44',
  'Afghanistan',
  '12,456',
  '+625',
  '227 ',
  '+7',
  '1,138',
  '11,091',
  '19',
  '321',
  '6',
  '33,864',
  '872',
  '38,836,559 ',
  'Asia'],
 ['45',
  'Panama',
  '11,728',
  '+281',
  '315 ',
  '+2',
  '7,379',
  '4,034',
  '72',
  '2,722',
  '73',
  '61,895',
  '14,368',
  '4,307,910 ',
  'North America'],
 ['46',
  'Denmark',
  '11,480',
  '+52',
  '565 ',
  '+2',
  '10,106',
  '809',
  '22',
  '1,983',
  '98',
  '576,061',
  '99,488',
  '5,790,276 ',
  'Europe'],
 ['47',
  'Serbia',
  '11,275',
  '+48',
  '240 ',
  '+1',
  '6,277',
  '4,758',
  '10',
  '1,290',
  '27',
  '229,485',
  '26,255',
  '8,740,556 ',
  'Europe'],
 ['48',
  'S. Korea',
  '11,265',
  '+40',
  '269 ',
  '',
  '10,295',
  '701',
  '15',
  '220',
  '5',
  '852,876',
  '16,637',
  '51,265,081 ',
  'Asia'],
 ['49',
  'Bahrain',
  '9,692',
  '+326',
  '15 ',
  '+1',
  '5,152',
  '4,525',
  '10',
  '5,718',
  '9',
  '291,127',
  '171,760',
  '1,694,967 ',
  'Asia'],
 ['50',
  'Kazakhstan',
  '9,304',
  '+335',
  '37 ',
  '',
  '4,768',
  '4,499',
  '58',
  '496',
  '2',
  '710,352',
  '37,876',
  '18,754,495 ',
  'Asia'],
 ['51',
  'Czechia',
  '9,086',
  '+36',
  '317 ',
  '',
  '6,370',
  '2,399',
  '18',
  '849',
  '30',
  '417,422',
  '38,985',
  '10,707,123 ',
  'Europe'],
 ['52',
  'Algeria',
  '8,857',
  '+160',
  '623 ',
  '+6',
  '5,129',
  '3,105',
  '32',
  '202',
  '14',
  '',
  '',
  '43,770,104 ',
  'Africa'],
 ['53',
  'Nigeria',
  '8,733',
  '+389',
  '254 ',
  '+5',
  '2,501',
  '5,978',
  '7',
  '42',
  '1',
  '44,458',
  '216',
  '205,598,175 ',
  'Africa'],
 ['54',
  'Norway',
  '8,401',
  '+18',
  '235 ',
  '',
  '7,727',
  '439',
  '11',
  '1,551',
  '43',
  '239,864',
  '44,279',
  '5,417,143 ',
  'Europe'],
 ['55',
  'Oman',
  '8,373',
  '+255',
  '39 ',
  '+2',
  '2,177',
  '6,157',
  '31',
  '1,644',
  '8',
  '72,000',
  '14,138',
  '5,092,816 ',
  'Asia'],
 ['56',
  'Armenia',
  '7,774',
  '+372',
  '98 ',
  '+7',
  '3,255',
  '4,421',
  '10',
  '2,624',
  '33',
  '53,678',
  '18,118',
  '2,962,725 ',
  'Asia'],
 ['57',
  'Malaysia',
  '7,619',
  '+15',
  '115 ',
  '',
  '6,083',
  '1,421',
  '8',
  '236',
  '4',
  '519,944',
  '16,085',
  '32,324,797 ',
  'Asia'],
 ['58',
  'Morocco',
  '7,601',
  '+24',
  '202 ',
  '',
  '4,978',
  '2,421',
  '1',
  '206',
  '5',
  '170,713',
  '4,630',
  '36,867,318 ',
  'Africa'],
 ['59',
  'Moldova',
  '7,537',
  '+232',
  '274 ',
  '+7',
  '3,884',
  '3,379',
  '256',
  '1,868',
  '68',
  '40,565',
  '10,054',
  '4,034,820 ',
  'Europe'],
 ['60',
  'Australia',
  '7,139',
  '+6',
  '103 ',
  '+1',
  '6,566',
  '470',
  '6',
  '280',
  '4',
  '1,338,321',
  '52,544',
  '25,470,681 ',
  'Australia/Oceania'],
 ['61',
  'Bolivia',
  '7,136',
  '+476',
  '274 ',
  '+13',
  '677',
  '6,185',
  '3',
  '612',
  '24',
  '22,294',
  '1,912',
  '11,657,129 ',
  'South America'],
 ['62',
  'Ghana',
  '7,117',
  '',
  '34 ',
  '',
  '2,317',
  '4,766',
  '16',
  '230',
  '1',
  '203,383',
  '6,560',
  '31,005,629 ',
  'Africa'],
 ['63',
  'Finland',
  '6,692',
  '+64',
  '313 ',
  '+1',
  '5,100',
  '1,279',
  '11',
  '1,208',
  '56',
  '173,313',
  '31,284',
  '5,539,916 ',
  'Europe'],
 ['64',
  'Cameroon',
  '5,436',
  '',
  '175 ',
  '',
  '1,996',
  '3,265',
  '28',
  '205',
  '7',
  '',
  '',
  '26,475,800 ',
  'Africa'],
 ['65',
  'Iraq',
  '5,135',
  '+287',
  '175 ',
  '+6',
  '2,904',
  '2,056',
  '41',
  '128',
  '4',
  '206,381',
  '5,143',
  '40,128,037 ',
  'Asia'],
 ['66',
  'Azerbaijan',
  '4,568',
  '+165',
  '54 ',
  '+2',
  '2,897',
  '1,617',
  '42',
  '451',
  '5',
  '280,663',
  '27,705',
  '10,130,283 ',
  'Asia'],
 ['67',
  'Honduras',
  '4,401',
  '+212',
  '188 ',
  '+6',
  '493',
  '3,720',
  '13',
  '445',
  '19',
  '14,790',
  '1,496',
  '9,888,691 ',
  'North America'],
 ['68',
  'Sudan',
  '4,146',
  '+170',
  '184 ',
  '+14',
  '588',
  '3,374',
  '',
  '95',
  '4',
  '401',
  '9',
  '43,741,597 ',
  'Africa'],
 ['69',
  'Luxembourg',
  '4,001',
  '+6',
  '110 ',
  '',
  '3,791',
  '100',
  '4',
  '6,402',
  '176',
  '70,148',
  '112,246',
  '624,947 ',
  'Europe'],
 ['70',
  'Guatemala',
  '3,954',
  '+194',
  '63 ',
  '+4',
  '289',
  '3,602',
  '5',
  '221',
  '4',
  '31,427',
  '1,758',
  '17,881,612 ',
  'North America'],
 ['71',
  'Hungary',
  '3,793',
  '+22',
  '505 ',
  '+6',
  '1,856',
  '1,432',
  '25',
  '393',
  '52',
  '169,960',
  '17,589',
  '9,662,589 ',
  'Europe'],
 ['72',
  'Tajikistan',
  '3,424',
  '+158',
  '47 ',
  '',
  '1,575',
  '1,802',
  '',
  '360',
  '5',
  '',
  '',
  '9,515,224 ',
  'Asia'],
 ['73',
  'Uzbekistan',
  '3,369',
  '+79',
  '14 ',
  '',
  '2,668',
  '687',
  '4',
  '101',
  '0.4',
  '460,000',
  '13,764',
  '33,420,567 ',
  'Asia'],
 ['74',
  'Guinea',
  '3,275',
  '',
  '20 ',
  '',
  '1,673',
  '1,582',
  '24',
  '250',
  '2',
  '14,407',
  '1,100',
  '13,094,574 ',
  'Africa'],
 ['75',
  'Senegal',
  '3,253',
  '+92',
  '38 ',
  '+2',
  '1,586',
  '1,629',
  '18',
  '195',
  '2',
  '37,547',
  '2,249',
  '16,696,778 ',
  'Africa'],
 ['76',
  'Thailand',
  '3,054',
  '+9',
  '57 ',
  '',
  '2,931',
  '66',
  '59',
  '44',
  '0.8',
  '375,453',
  '5,380',
  '69,783,536 ',
  'Asia'],
 ['77',
  'Greece',
  '2,903',
  '+11',
  '173 ',
  '',
  '1,374',
  '1,356',
  '17',
  '278',
  '17',
  '166,245',
  '15,943',
  '10,427,639 ',
  'Europe'],
 ['78',
  'Djibouti',
  '2,697',
  '+229',
  '18 ',
  '+4',
  '1,185',
  '1,494',
  '',
  '2,734',
  '18',
  '23,140',
  '23,455',
  '986,559 ',
  'Africa'],
 ['79',
  'Ivory Coast',
  '2,556',
  '+79',
  '31 ',
  '+1',
  '1,302',
  '1,223',
  '',
  '97',
  '1',
  '25,524',
  '970',
  '26,309,063 ',
  'Africa'],
 ['80',
  'DRC',
  '2,546',
  '+143',
  '68 ',
  '',
  '365',
  '2,113',
  '',
  '29',
  '0.8',
  '',
  '',
  '89,264,128 ',
  'Africa'],
 ['81',
  'Bulgaria',
  '2,460',
  '+17',
  '133 ',
  '+3',
  '912',
  '1,415',
  '22',
  '354',
  '19',
  '76,391',
  '10,987',
  '6,953,085 ',
  'Europe'],
 ['82',
  'Bosnia and Herzegovina',
  '2,435',
  '+19',
  '151 ',
  '+2',
  '1,744',
  '540',
  '4',
  '742',
  '46',
  '61,111',
  '18,616',
  '3,282,643 ',
  'Europe'],
 ['83',
  'Gabon',
  '2,319',
  '+81',
  '14 ',
  '',
  '631',
  '1,674',
  '11',
  '1,044',
  '6',
  '11,340',
  '5,108',
  '2,220,204 ',
  'Africa'],
 ['84',
  'Croatia',
  '2,244',
  '',
  '101 ',
  '',
  '2,047',
  '96',
  '6',
  '546',
  '25',
  '64,266',
  '15,646',
  '4,107,530 ',
  'Europe'],
 ['85',
  'El Salvador',
  '2,109',
  '+67',
  '37 ',
  '+1',
  '873',
  '1,199',
  '29',
  '325',
  '6',
  '79,711',
  '12,295',
  '6,483,089 ',
  'North America'],
 ['86',
  'North Macedonia',
  '2,039',
  '+25',
  '119 ',
  '+3',
  '1,470',
  '450',
  '21',
  '979',
  '57',
  '26,463',
  '12,702',
  '2,083,382 ',
  'Europe'],
 ['87',
  'Cuba',
  '1,974',
  '+11',
  '82 ',
  '',
  '1,724',
  '168',
  '4',
  '174',
  '7',
  '97,003',
  '8,564',
  '11,327,254 ',
  'North America'],
 ['88',
  'Estonia',
  '1,840',
  '+6',
  '66 ',
  '+1',
  '1,561',
  '213',
  '',
  '1,387',
  '50',
  '79,605',
  '60,013',
  '1,326,452 ',
  'Europe'],
 ['89',
  'Iceland',
  '1,805',
  '+1',
  '10 ',
  '',
  '1,792',
  '3',
  '',
  '5,293',
  '29',
  '59,613',
  '174,803',
  '341,030 ',
  'Europe'],
 ['90',
  'Somalia',
  '1,731',
  '+20',
  '67 ',
  '',
  '265',
  '1,399',
  '2',
  '109',
  '4',
  '',
  '',
  '15,845,450 ',
  'Africa'],
 ['91',
  'Lithuania',
  '1,647',
  '+8',
  '66 ',
  '+1',
  '1,184',
  '397',
  '17',
  '604',
  '24',
  '281,232',
  '103,184',
  '2,725,537 ',
  'Europe'],
 ['92',
  'Mayotte',
  '1,645',
  '+11',
  '20 ',
  '',
  '1,314',
  '311',
  '10',
  '6,045',
  '73',
  '5,200',
  '19,109',
  '272,120 ',
  'Africa'],
 ['93',
  'Kyrgyzstan',
  '1,520',
  '+52',
  '16 ',
  '',
  '1,043',
  '461',
  '4',
  '233',
  '2',
  '105,815',
  '16,246',
  '6,513,284 ',
  'Asia'],
 ['94',
  'Slovakia',
  '1,515',
  '+2',
  '28 ',
  '',
  '1,327',
  '160',
  '1',
  '278',
  '5',
  '163,362',
  '29,923',
  '5,459,397 ',
  'Europe'],
 ['95',
  'New Zealand',
  '1,504',
  '',
  '21 ',
  '',
  '1,462',
  '21',
  '',
  '301',
  '4',
  '267,435',
  '53,465',
  '5,002,100 ',
  'Australia/Oceania'],
 ['96',
  'Slovenia',
  '1,471',
  '+2',
  '108 ',
  '',
  '1,354',
  '9',
  '2',
  '708',
  '52',
  '77,947',
  '37,494',
  '2,078,912 ',
  'Europe'],
 ['97',
  'Kenya',
  '1,471',
  '+123',
  '55 ',
  '+3',
  '408',
  '1,008',
  '7',
  '27',
  '1',
  '67,341',
  '1,255',
  '53,647,618 ',
  'Africa'],
 ['98',
  'Sri Lanka',
  '1,469',
  '+150',
  '10 ',
  '',
  '732',
  '727',
  '1',
  '69',
  '0.5',
  '57,327',
  '2,678',
  '21,404,741 ',
  'Asia'],
 ['99',
  'Maldives',
  '1,457',
  '+19',
  '5 ',
  '',
  '197',
  '1,255',
  '9',
  '2,700',
  '9',
  '11,775',
  '21,823',
  '539,573 ',
  'Asia'],
 ['100',
  'Venezuela',
  '1,245',
  '+34',
  '11 ',
  '',
  '302',
  '932',
  '2',
  '44',
  '0.4',
  '897,695',
  '31,561',
  '28,443,280 ',
  'South America'],
 ['101',
  'Guinea-Bissau',
  '1,195',
  '+17',
  '7 ',
  '',
  '42',
  '1,146',
  '',
  '609',
  '4',
  '1,500',
  '764',
  '1,963,102 ',
  'Africa'],
 ['102',
  'Haiti',
  '1,174',
  '+111',
  '33 ',
  '+2',
  '22',
  '1,119',
  '',
  '103',
  '3',
  '3,475',
  '305',
  '11,388,764 ',
  'North America'],
 ['103',
  'Lebanon',
  '1,161',
  '+21',
  '26 ',
  '',
  '692',
  '443',
  '3',
  '170',
  '4',
  '77,488',
  '11,348',
  '6,828,204 ',
  'Asia'],
 ['104',
  'Mali',
  '1,116',
  '+39',
  '70 ',
  '',
  '632',
  '414',
  '',
  '55',
  '3',
  '3,483',
  '173',
  '20,187,688 ',
  'Africa'],
 ['105',
  'Hong Kong',
  '1,067',
  '+1',
  '4 ',
  '',
  '1,034',
  '29',
  '1',
  '142',
  '0.5',
  '202,930',
  '27,090',
  '7,491,091 ',
  'Asia'],
 ['106',
  'Latvia',
  '1,057',
  '+4',
  '23 ',
  '+1',
  '741',
  '293',
  '3',
  '560',
  '12',
  '103,553',
  '54,848',
  '1,888,011 ',
  'Europe'],
 ['107',
  'Zambia',
  '1,057',
  '+137',
  '7 ',
  '',
  '779',
  '271',
  '1',
  '58',
  '0.4',
  '24,275',
  '1,324',
  '18,328,453 ',
  'Africa'],
 ['108',
  'Tunisia',
  '1,051',
  '',
  '48 ',
  '',
  '929',
  '74',
  '2',
  '89',
  '4',
  '49,113',
  '4,160',
  '11,806,488 ',
  'Africa'],
 ['109',
  'Albania',
  '1,050',
  '+21',
  '33 ',
  '',
  '812',
  '205',
  '3',
  '365',
  '11',
  '13,768',
  '4,784',
  '2,878,086 ',
  'Europe'],
 ['110',
  'Equatorial Guinea',
  '1,043',
  '',
  '12 ',
  '',
  '165',
  '866',
  '',
  '746',
  '9',
  '854',
  '611',
  '1,397,887 ',
  'Africa'],
 ['111',
  'South Sudan',
  '994',
  '+188',
  '10 ',
  '+2',
  '6',
  '978',
  '',
  '89',
  '0.9',
  '3,356',
  '300',
  '11,180,763 ',
  'Africa'],
 ['112',
  'Costa Rica',
  '984',
  '+28',
  '10 ',
  '',
  '639',
  '335',
  '2',
  '193',
  '2',
  '24,338',
  '4,782',
  '5,089,588 ',
  'North America'],
 ['113',
  'Niger',
  '952',
  '',
  '63 ',
  '',
  '796',
  '93',
  '',
  '39',
  '3',
  '5,989',
  '248',
  '24,108,004 ',
  'Africa'],
 ['114',
  'Cyprus',
  '939',
  '',
  '17 ',
  '',
  '594',
  '328',
  '4',
  '778',
  '14',
  '106,028',
  '87,880',
  '1,206,512 ',
  'Asia'],
 ['115',
  'Nepal',
  '886',
  '+114',
  '4 ',
  '',
  '183',
  '699',
  '',
  '30',
  '0.1',
  '158,564',
  '5,452',
  '29,083,261 ',
  'Asia'],
 ['116',
  'Paraguay',
  '884',
  '+7',
  '11 ',
  '',
  '392',
  '481',
  '',
  '124',
  '2',
  '26,760',
  '3,756',
  '7,123,858 ',
  'South America'],
 ['117',
  'Burkina Faso',
  '845',
  '+13',
  '53 ',
  '+1',
  '672',
  '120',
  '',
  '41',
  '3',
  '',
  '',
  '20,841,675 ',
  'Africa'],

In [7]:
#I don't need the overall continent data I really just need the world data then all of the countries listed. So I'm going to drop the first 8 rows so I'm only seeing the specifics I want
n = 8
mydata = data[n:]
mydata

[['',
  'World',
  '5,779,327',
  '+101,199',
  '356,732',
  '+5,078',
  '2,490,659',
  '2,931,936',
  '52,888',
  '741',
  '45.8',
  '',
  '',
  '',
  'All'],
 ['1',
  'USA',
  '1,744,276',
  '+19,019',
  '102,009 ',
  '+1,437',
  '486,112',
  '1,156,155',
  '17,082',
  '5,273',
  '308',
  '15,822,759',
  '47,829',
  '330,817,010 ',
  'North America'],
 ['2',
  'Brazil',
  '411,821',
  '+19,461',
  '25,598 ',
  '+1,049',
  '166,647',
  '219,576',
  '8,318',
  '1,939',
  '121',
  '871,839',
  '4,104',
  '212,413,908 ',
  'South America'],
 ['3',
  'Russia',
  '370,680',
  '+8,338',
  '3,968 ',
  '+161',
  '142,208',
  '224,504',
  '2,300',
  '2,540',
  '27',
  '9,415,992',
  '64,525',
  '145,928,655 ',
  'Europe'],
 ['4',
  'Spain',
  '283,849',
  '+510',
  '27,118 ',
  '+1',
  '196,958',
  '59,773',
  '854',
  '6,071',
  '580',
  '3,556,567',
  '76,071',
  '46,753,098 ',
  'Europe'],
 ['5',
  'UK',
  '267,240',
  '+2,013',
  '37,460 ',
  '+412',
  'N/A',
  'N/A',
  '1,559',
  '3,939',
  '552',
  '3,798,490',
  '55,982',
  '67,852,019 ',
  'Europe'],
 ['6',
  'Italy',
  '231,139',
  '+584',
  '33,072 ',
  '+117',
  '147,101',
  '50,966',
  '505',
  '3,822',
  '547',
  '3,607,251',
  '59,654',
  '60,469,988 ',
  'Europe'],
 ['7',
  'France',
  '182,913',
  '+191',
  '28,596 ',
  '+66',
  '66,584',
  '87,733',
  '1,501',
  '2,803',
  '438',
  '1,384,633',
  '21,217',
  '65,259,974 ',
  'Europe'],
 ['8',
  'Germany',
  '181,895',
  '+607',
  '8,533 ',
  '+35',
  '162,800',
  '10,562',
  '763',
  '2,172',
  '102',
  '3,952,971',
  '47,195',
  '83,758,696 ',
  'Europe'],
 ['9',
  'Turkey',
  '159,797',
  '+1,035',
  '4,431 ',
  '+34',
  '122,793',
  '32,573',
  '723',
  '1,897',
  '53',
  '1,894,650',
  '22,488',
  '84,249,900 ',
  'Asia'],
 ['10',
  'India',
  '158,086',
  '+7,293',
  '4,534 ',
  '+190',
  '67,749',
  '85,803',
  '8,944',
  '115',
  '3',
  '3,242,160',
  '2,352',
  '1,378,678,095 ',
  'Asia'],
 ['11',
  'Iran',
  '141,591',
  '+2,080',
  '7,564 ',
  '+56',
  '111,176',
  '22,851',
  '2,551',
  '1,688',
  '90',
  '856,546',
  '10,211',
  '83,886,140 ',
  'Asia'],
 ['12',
  'Peru',
  '135,905',
  '+6,154',
  '3,983 ',
  '+195',
  '56,169',
  '75,753',
  '926',
  '4,128',
  '121',
  '905,278',
  '27,494',
  '32,925,941 ',
  'South America'],
 ['13',
  'Canada',
  '87,519',
  '+872',
  '6,765 ',
  '+126',
  '46,164',
  '34,590',
  '502',
  '2,321',
  '179',
  '1,528,315',
  '40,528',
  '37,709,994 ',
  'North America'],
 ['14',
  'Chile',
  '82,289',
  '+4,328',
  '841 ',
  '+35',
  '33,540',
  '47,908',
  '1,251',
  '4,308',
  '44',
  '514,523',
  '26,938',
  '19,100,270 ',
  'South America'],
 ['15',
  'Saudi Arabia',
  '78,541',
  '+1,815',
  '425 ',
  '+14',
  '51,022',
  '27,094',
  '384',
  '2,260',
  '12',
  '754,268',
  '21,700',
  '34,759,189 ',
  'Asia'],
 ['16',
  'Mexico',
  '74,560',
  '+3,455',
  '8,134 ',
  '+501',
  '52,219',
  '14,207',
  '378',
  '579',
  '63',
  '235,129',
  '1,826',
  '128,799,843 ',
  'North America'],
 ['17',
  'Pakistan',
  '59,151',
  '+1,446',
  '1,225 ',
  '+28',
  '19,142',
  '38,784',
  '111',
  '268',
  '6',
  '499,399',
  '2,265',
  '220,450,694 ',
  'Asia'],
 ['18',
  'Belgium',
  '57,592',
  '+137',
  '9,364 ',
  '+30',
  '15,465',
  '32,763',
  '220',
  '4,971',
  '808',
  '804,890',
  '69,478',
  '11,584,839 ',
  'Europe'],
 ['19',
  'Qatar',
  '48,947',
  '+1,740',
  '30 ',
  '+2',
  '13,283',
  '35,634',
  '203',
  '17,018',
  '10',
  '201,180',
  '69,949',
  '2,876,111 ',
  'Asia'],
 ['20',
  'Netherlands',
  '45,768',
  '+190',
  '5,871 ',
  '+15',
  'N/A',
  'N/A',
  '188',
  '2,672',
  '343',
  '335,524',
  '19,585',
  '17,131,319 ',
  'Europe'],
 ['21',
  'Belarus',
  '38,956',
  '+897',
  '214 ',
  '+6',
  '15,923',
  '22,819',
  '92',
  '4,122',
  '23',
  '485,534',
  '51,381',
  '9,449,610 ',
  'Europe'],
 ['22',
  'Bangladesh',
  '38,292',
  '+1,541',
  '544 ',
  '+22',
  '7,925',
  '29,823',
  '1',
  '233',
  '3',
  '266,456',
  '1,620',
  '164,528,877 ',
  'Asia'],
 ['23',
  'Ecuador',
  '38,103',
  '+748',
  '3,275 ',
  '+72',
  '18,425',
  '16,403',
  '219',
  '2,163',
  '186',
  '109,541',
  '6,218',
  '17,616,090 ',
  'South America'],
 ['24',
  'Sweden',
  '35,088',
  '+648',
  '4,220 ',
  '+95',
  '4,971',
  '25,897',
  '264',
  '3,476',
  '418',
  '238,800',
  '23,659',
  '10,093,230 ',
  'Europe'],
 ['25',
  'Singapore',
  '32,876',
  '+533',
  '23 ',
  '',
  '17,276',
  '15,577',
  '7',
  '5,624',
  '4',
  '334,691',
  '57,252',
  '5,845,893 ',
  'Asia'],
 ['26',
  'UAE',
  '31,969',
  '+883',
  '255 ',
  '+2',
  '16,371',
  '15,343',
  '1',
  '3,236',
  '26',
  '2,072,493',
  '209,797',
  '9,878,576 ',
  'Asia'],
 ['27',
  'Portugal',
  '31,292',
  '+285',
  '1,356 ',
  '+14',
  '18,349',
  '11,587',
  '66',
  '3,068',
  '133',
  '764,093',
  '74,915',
  '10,199,416 ',
  'Europe'],
 ['28',
  'Switzerland',
  '30,776',
  '+15',
  '1,917 ',
  '+2',
  '28,300',
  '559',
  '42',
  '3,559',
  '222',
  '380,671',
  '44,016',
  '8,648,520 ',
  'Europe'],
 ['29',
  'South Africa',
  '25,937',
  '+1,673',
  '552 ',
  '+28',
  '13,451',
  '11,934',
  '128',
  '438',
  '9',
  '634,996',
  '10,720',
  '59,234,476 ',
  'Africa'],
 ['30',
  'Ireland',
  '24,803',
  '+68',
  '1,631 ',
  '+16',
  '22,089',
  '1,083',
  '54',
  '5,029',
  '331',
  '325,795',
  '66,053',
  '4,932,355 ',
  'Europe'],
 ['31',
  'Colombia',
  '24,104',
  '+1,101',
  '803 ',
  '+27',
  '6,111',
  '17,190',
  '136',
  '474',
  '16',
  '271,118',
  '5,334',
  '50,829,634 ',
  'South America'],
 ['32',
  'Indonesia',
  '23,851',
  '+686',
  '1,473 ',
  '+55',
  '6,057',
  '16,321',
  '',
  '87',
  '5',
  '278,411',
  '1,019',
  '273,239,726 ',
  'Asia'],
 ['33',
  'Kuwait',
  '23,267',
  '+692',
  '175 ',
  '+3',
  '7,946',
  '15,146',
  '193',
  '5,456',
  '41',
  '278,945',
  '65,415',
  '4,264,228 ',
  'Asia'],
 ['34',
  'Poland',
  '22,473',
  '+399',
  '1,028 ',
  '+4',
  '10,330',
  '11,115',
  '160',
  '594',
  '27',
  '824,774',
  '21,790',
  '37,850,425 ',
  'Europe'],
 ['35',
  'Ukraine',
  '21,905',
  '+321',
  '658 ',
  '+14',
  '7,995',
  '13,252',
  '259',
  '501',
  '15',
  '312,532',
  '7,142',
  '43,757,273 ',
  'Europe'],
 ['36',
  'Egypt',
  '19,666',
  '+910',
  '816 ',
  '+19',
  '5,205',
  '13,645',
  '41',
  '193',
  '8',
  '135,000',
  '1,322',
  '102,136,256 ',
  'Africa'],
 ['37',
  'Romania',
  '18,594',
  '+165',
  '1,227 ',
  '+11',
  '12,162',
  '5,205',
  '198',
  '966',
  '64',
  '397,563',
  '20,654',
  '19,249,131 ',
  'Europe'],
 ['38',
  'Israel',
  '16,793',
  '+36',
  '281 ',
  '',
  '14,570',
  '1,942',
  '39',
  '1,826',
  '31',
  '552,471',
  '60,067',
  '9,197,590 ',
  'Asia'],
 ['39',
  'Japan',
  '16,651',
  '+28',
  '858 ',
  '+12',
  '13,810',
  '1,983',
  '147',
  '132',
  '7',
  '278,642',
  '2,203',
  '126,511,690 ',
  'Asia'],
 ['40',
  'Austria',
  '16,591',
  '+34',
  '645 ',
  '+2',
  '15,228',
  '718',
  '32',
  '1,843',
  '72',
  '418,706',
  '46,515',
  '9,001,487 ',
  'Europe'],
 ['41',
  'Dominican Republic',
  '15,723',
  '+459',
  '474 ',
  '+6',
  '8,790',
  '6,459',
  '123',
  '1,451',
  '44',
  '70,972',
  '6,549',
  '10,837,265 ',
  'North America'],
 ['42',
  'Philippines',
  '15,049',
  '+380',
  '904 ',
  '+18',
  '3,506',
  '10,639',
  '81',
  '138',
  '8',
  '315,363',
  '2,882',
  '109,435,773 ',
  'Asia'],
 ['43',
  'Argentina',
  '13,228',
  '',
  '492 ',
  '+8',
  '4,349',
  '8,387',
  '171',
  '293',
  '11',
  '140,218',
  '3,105',
  '45,155,378 ',
  'South America'],
 ['44',
  'Afghanistan',
  '12,456',
  '+625',
  '227 ',
  '+7',
  '1,138',
  '11,091',
  '19',
  '321',
  '6',
  '33,864',
  '872',
  '38,836,559 ',
  'Asia'],
 ['45',
  'Panama',
  '11,728',
  '+281',
  '315 ',
  '+2',
  '7,379',
  '4,034',
  '72',
  '2,722',
  '73',
  '61,895',
  '14,368',
  '4,307,910 ',
  'North America'],
 ['46',
  'Denmark',
  '11,480',
  '+52',
  '565 ',
  '+2',
  '10,106',
  '809',
  '22',
  '1,983',
  '98',
  '576,061',
  '99,488',
  '5,790,276 ',
  'Europe'],
 ['47',
  'Serbia',
  '11,275',
  '+48',
  '240 ',
  '+1',
  '6,277',
  '4,758',
  '10',
  '1,290',
  '27',
  '229,485',
  '26,255',
  '8,740,556 ',
  'Europe'],
 ['48',
  'S. Korea',
  '11,265',
  '+40',
  '269 ',
  '',
  '10,295',
  '701',
  '15',
  '220',
  '5',
  '852,876',
  '16,637',
  '51,265,081 ',
  'Asia'],
 ['49',
  'Bahrain',
  '9,692',
  '+326',
  '15 ',
  '+1',
  '5,152',
  '4,525',
  '10',
  '5,718',
  '9',
  '291,127',
  '171,760',
  '1,694,967 ',
  'Asia'],
 ['50',
  'Kazakhstan',
  '9,304',
  '+335',
  '37 ',
  '',
  '4,768',
  '4,499',
  '58',
  '496',
  '2',
  '710,352',
  '37,876',
  '18,754,495 ',
  'Asia'],
 ['51',
  'Czechia',
  '9,086',
  '+36',
  '317 ',
  '',
  '6,370',
  '2,399',
  '18',
  '849',
  '30',
  '417,422',
  '38,985',
  '10,707,123 ',
  'Europe'],
 ['52',
  'Algeria',
  '8,857',
  '+160',
  '623 ',
  '+6',
  '5,129',
  '3,105',
  '32',
  '202',
  '14',
  '',
  '',
  '43,770,104 ',
  'Africa'],
 ['53',
  'Nigeria',
  '8,733',
  '+389',
  '254 ',
  '+5',
  '2,501',
  '5,978',
  '7',
  '42',
  '1',
  '44,458',
  '216',
  '205,598,175 ',
  'Africa'],
 ['54',
  'Norway',
  '8,401',
  '+18',
  '235 ',
  '',
  '7,727',
  '439',
  '11',
  '1,551',
  '43',
  '239,864',
  '44,279',
  '5,417,143 ',
  'Europe'],
 ['55',
  'Oman',
  '8,373',
  '+255',
  '39 ',
  '+2',
  '2,177',
  '6,157',
  '31',
  '1,644',
  '8',
  '72,000',
  '14,138',
  '5,092,816 ',
  'Asia'],
 ['56',
  'Armenia',
  '7,774',
  '+372',
  '98 ',
  '+7',
  '3,255',
  '4,421',
  '10',
  '2,624',
  '33',
  '53,678',
  '18,118',
  '2,962,725 ',
  'Asia'],
 ['57',
  'Malaysia',
  '7,619',
  '+15',
  '115 ',
  '',
  '6,083',
  '1,421',
  '8',
  '236',
  '4',
  '519,944',
  '16,085',
  '32,324,797 ',
  'Asia'],
 ['58',
  'Morocco',
  '7,601',
  '+24',
  '202 ',
  '',
  '4,978',
  '2,421',
  '1',
  '206',
  '5',
  '170,713',
  '4,630',
  '36,867,318 ',
  'Africa'],
 ['59',
  'Moldova',
  '7,537',
  '+232',
  '274 ',
  '+7',
  '3,884',
  '3,379',
  '256',
  '1,868',
  '68',
  '40,565',
  '10,054',
  '4,034,820 ',
  'Europe'],
 ['60',
  'Australia',
  '7,139',
  '+6',
  '103 ',
  '+1',
  '6,566',
  '470',
  '6',
  '280',
  '4',
  '1,338,321',
  '52,544',
  '25,470,681 ',
  'Australia/Oceania'],
 ['61',
  'Bolivia',
  '7,136',
  '+476',
  '274 ',
  '+13',
  '677',
  '6,185',
  '3',
  '612',
  '24',
  '22,294',
  '1,912',
  '11,657,129 ',
  'South America'],
 ['62',
  'Ghana',
  '7,117',
  '',
  '34 ',
  '',
  '2,317',
  '4,766',
  '16',
  '230',
  '1',
  '203,383',
  '6,560',
  '31,005,629 ',
  'Africa'],
 ['63',
  'Finland',
  '6,692',
  '+64',
  '313 ',
  '+1',
  '5,100',
  '1,279',
  '11',
  '1,208',
  '56',
  '173,313',
  '31,284',
  '5,539,916 ',
  'Europe'],
 ['64',
  'Cameroon',
  '5,436',
  '',
  '175 ',
  '',
  '1,996',
  '3,265',
  '28',
  '205',
  '7',
  '',
  '',
  '26,475,800 ',
  'Africa'],
 ['65',
  'Iraq',
  '5,135',
  '+287',
  '175 ',
  '+6',
  '2,904',
  '2,056',
  '41',
  '128',
  '4',
  '206,381',
  '5,143',
  '40,128,037 ',
  'Asia'],
 ['66',
  'Azerbaijan',
  '4,568',
  '+165',
  '54 ',
  '+2',
  '2,897',
  '1,617',
  '42',
  '451',
  '5',
  '280,663',
  '27,705',
  '10,130,283 ',
  'Asia'],
 ['67',
  'Honduras',
  '4,401',
  '+212',
  '188 ',
  '+6',
  '493',
  '3,720',
  '13',
  '445',
  '19',
  '14,790',
  '1,496',
  '9,888,691 ',
  'North America'],
 ['68',
  'Sudan',
  '4,146',
  '+170',
  '184 ',
  '+14',
  '588',
  '3,374',
  '',
  '95',
  '4',
  '401',
  '9',
  '43,741,597 ',
  'Africa'],
 ['69',
  'Luxembourg',
  '4,001',
  '+6',
  '110 ',
  '',
  '3,791',
  '100',
  '4',
  '6,402',
  '176',
  '70,148',
  '112,246',
  '624,947 ',
  'Europe'],
 ['70',
  'Guatemala',
  '3,954',
  '+194',
  '63 ',
  '+4',
  '289',
  '3,602',
  '5',
  '221',
  '4',
  '31,427',
  '1,758',
  '17,881,612 ',
  'North America'],
 ['71',
  'Hungary',
  '3,793',
  '+22',
  '505 ',
  '+6',
  '1,856',
  '1,432',
  '25',
  '393',
  '52',
  '169,960',
  '17,589',
  '9,662,589 ',
  'Europe'],
 ['72',
  'Tajikistan',
  '3,424',
  '+158',
  '47 ',
  '',
  '1,575',
  '1,802',
  '',
  '360',
  '5',
  '',
  '',
  '9,515,224 ',
  'Asia'],
 ['73',
  'Uzbekistan',
  '3,369',
  '+79',
  '14 ',
  '',
  '2,668',
  '687',
  '4',
  '101',
  '0.4',
  '460,000',
  '13,764',
  '33,420,567 ',
  'Asia'],
 ['74',
  'Guinea',
  '3,275',
  '',
  '20 ',
  '',
  '1,673',
  '1,582',
  '24',
  '250',
  '2',
  '14,407',
  '1,100',
  '13,094,574 ',
  'Africa'],
 ['75',
  'Senegal',
  '3,253',
  '+92',
  '38 ',
  '+2',
  '1,586',
  '1,629',
  '18',
  '195',
  '2',
  '37,547',
  '2,249',
  '16,696,778 ',
  'Africa'],
 ['76',
  'Thailand',
  '3,054',
  '+9',
  '57 ',
  '',
  '2,931',
  '66',
  '59',
  '44',
  '0.8',
  '375,453',
  '5,380',
  '69,783,536 ',
  'Asia'],
 ['77',
  'Greece',
  '2,903',
  '+11',
  '173 ',
  '',
  '1,374',
  '1,356',
  '17',
  '278',
  '17',
  '166,245',
  '15,943',
  '10,427,639 ',
  'Europe'],
 ['78',
  'Djibouti',
  '2,697',
  '+229',
  '18 ',
  '+4',
  '1,185',
  '1,494',
  '',
  '2,734',
  '18',
  '23,140',
  '23,455',
  '986,559 ',
  'Africa'],
 ['79',
  'Ivory Coast',
  '2,556',
  '+79',
  '31 ',
  '+1',
  '1,302',
  '1,223',
  '',
  '97',
  '1',
  '25,524',
  '970',
  '26,309,063 ',
  'Africa'],
 ['80',
  'DRC',
  '2,546',
  '+143',
  '68 ',
  '',
  '365',
  '2,113',
  '',
  '29',
  '0.8',
  '',
  '',
  '89,264,128 ',
  'Africa'],
 ['81',
  'Bulgaria',
  '2,460',
  '+17',
  '133 ',
  '+3',
  '912',
  '1,415',
  '22',
  '354',
  '19',
  '76,391',
  '10,987',
  '6,953,085 ',
  'Europe'],
 ['82',
  'Bosnia and Herzegovina',
  '2,435',
  '+19',
  '151 ',
  '+2',
  '1,744',
  '540',
  '4',
  '742',
  '46',
  '61,111',
  '18,616',
  '3,282,643 ',
  'Europe'],
 ['83',
  'Gabon',
  '2,319',
  '+81',
  '14 ',
  '',
  '631',
  '1,674',
  '11',
  '1,044',
  '6',
  '11,340',
  '5,108',
  '2,220,204 ',
  'Africa'],
 ['84',
  'Croatia',
  '2,244',
  '',
  '101 ',
  '',
  '2,047',
  '96',
  '6',
  '546',
  '25',
  '64,266',
  '15,646',
  '4,107,530 ',
  'Europe'],
 ['85',
  'El Salvador',
  '2,109',
  '+67',
  '37 ',
  '+1',
  '873',
  '1,199',
  '29',
  '325',
  '6',
  '79,711',
  '12,295',
  '6,483,089 ',
  'North America'],
 ['86',
  'North Macedonia',
  '2,039',
  '+25',
  '119 ',
  '+3',
  '1,470',
  '450',
  '21',
  '979',
  '57',
  '26,463',
  '12,702',
  '2,083,382 ',
  'Europe'],
 ['87',
  'Cuba',
  '1,974',
  '+11',
  '82 ',
  '',
  '1,724',
  '168',
  '4',
  '174',
  '7',
  '97,003',
  '8,564',
  '11,327,254 ',
  'North America'],
 ['88',
  'Estonia',
  '1,840',
  '+6',
  '66 ',
  '+1',
  '1,561',
  '213',
  '',
  '1,387',
  '50',
  '79,605',
  '60,013',
  '1,326,452 ',
  'Europe'],
 ['89',
  'Iceland',
  '1,805',
  '+1',
  '10 ',
  '',
  '1,792',
  '3',
  '',
  '5,293',
  '29',
  '59,613',
  '174,803',
  '341,030 ',
  'Europe'],
 ['90',
  'Somalia',
  '1,731',
  '+20',
  '67 ',
  '',
  '265',
  '1,399',
  '2',
  '109',
  '4',
  '',
  '',
  '15,845,450 ',
  'Africa'],
 ['91',
  'Lithuania',
  '1,647',
  '+8',
  '66 ',
  '+1',
  '1,184',
  '397',
  '17',
  '604',
  '24',
  '281,232',
  '103,184',
  '2,725,537 ',
  'Europe'],
 ['92',
  'Mayotte',
  '1,645',
  '+11',
  '20 ',
  '',
  '1,314',
  '311',
  '10',
  '6,045',
  '73',
  '5,200',
  '19,109',
  '272,120 ',
  'Africa'],
 ['93',
  'Kyrgyzstan',
  '1,520',
  '+52',
  '16 ',
  '',
  '1,043',
  '461',
  '4',
  '233',
  '2',
  '105,815',
  '16,246',
  '6,513,284 ',
  'Asia'],
 ['94',
  'Slovakia',
  '1,515',
  '+2',
  '28 ',
  '',
  '1,327',
  '160',
  '1',
  '278',
  '5',
  '163,362',
  '29,923',
  '5,459,397 ',
  'Europe'],
 ['95',
  'New Zealand',
  '1,504',
  '',
  '21 ',
  '',
  '1,462',
  '21',
  '',
  '301',
  '4',
  '267,435',
  '53,465',
  '5,002,100 ',
  'Australia/Oceania'],
 ['96',
  'Slovenia',
  '1,471',
  '+2',
  '108 ',
  '',
  '1,354',
  '9',
  '2',
  '708',
  '52',
  '77,947',
  '37,494',
  '2,078,912 ',
  'Europe'],
 ['97',
  'Kenya',
  '1,471',
  '+123',
  '55 ',
  '+3',
  '408',
  '1,008',
  '7',
  '27',
  '1',
  '67,341',
  '1,255',
  '53,647,618 ',
  'Africa'],
 ['98',
  'Sri Lanka',
  '1,469',
  '+150',
  '10 ',
  '',
  '732',
  '727',
  '1',
  '69',
  '0.5',
  '57,327',
  '2,678',
  '21,404,741 ',
  'Asia'],
 ['99',
  'Maldives',
  '1,457',
  '+19',
  '5 ',
  '',
  '197',
  '1,255',
  '9',
  '2,700',
  '9',
  '11,775',
  '21,823',
  '539,573 ',
  'Asia'],
 ['100',
  'Venezuela',
  '1,245',
  '+34',
  '11 ',
  '',
  '302',
  '932',
  '2',
  '44',
  '0.4',
  '897,695',
  '31,561',
  '28,443,280 ',
  'South America'],
 ['101',
  'Guinea-Bissau',
  '1,195',
  '+17',
  '7 ',
  '',
  '42',
  '1,146',
  '',
  '609',
  '4',
  '1,500',
  '764',
  '1,963,102 ',
  'Africa'],
 ['102',
  'Haiti',
  '1,174',
  '+111',
  '33 ',
  '+2',
  '22',
  '1,119',
  '',
  '103',
  '3',
  '3,475',
  '305',
  '11,388,764 ',
  'North America'],
 ['103',
  'Lebanon',
  '1,161',
  '+21',
  '26 ',
  '',
  '692',
  '443',
  '3',
  '170',
  '4',
  '77,488',
  '11,348',
  '6,828,204 ',
  'Asia'],
 ['104',
  'Mali',
  '1,116',
  '+39',
  '70 ',
  '',
  '632',
  '414',
  '',
  '55',
  '3',
  '3,483',
  '173',
  '20,187,688 ',
  'Africa'],
 ['105',
  'Hong Kong',
  '1,067',
  '+1',
  '4 ',
  '',
  '1,034',
  '29',
  '1',
  '142',
  '0.5',
  '202,930',
  '27,090',
  '7,491,091 ',
  'Asia'],
 ['106',
  'Latvia',
  '1,057',
  '+4',
  '23 ',
  '+1',
  '741',
  '293',
  '3',
  '560',
  '12',
  '103,553',
  '54,848',
  '1,888,011 ',
  'Europe'],
 ['107',
  'Zambia',
  '1,057',
  '+137',
  '7 ',
  '',
  '779',
  '271',
  '1',
  '58',
  '0.4',
  '24,275',
  '1,324',
  '18,328,453 ',
  'Africa'],
 ['108',
  'Tunisia',
  '1,051',
  '',
  '48 ',
  '',
  '929',
  '74',
  '2',
  '89',
  '4',
  '49,113',
  '4,160',
  '11,806,488 ',
  'Africa'],
 ['109',
  'Albania',
  '1,050',
  '+21',
  '33 ',
  '',
  '812',
  '205',
  '3',
  '365',
  '11',
  '13,768',
  '4,784',
  '2,878,086 ',
  'Europe'],
 ['110',
  'Equatorial Guinea',
  '1,043',
  '',
  '12 ',
  '',
  '165',
  '866',
  '',
  '746',
  '9',
  '854',
  '611',
  '1,397,887 ',
  'Africa'],
 ['111',
  'South Sudan',
  '994',
  '+188',
  '10 ',
  '+2',
  '6',
  '978',
  '',
  '89',
  '0.9',
  '3,356',
  '300',
  '11,180,763 ',
  'Africa'],
 ['112',
  'Costa Rica',
  '984',
  '+28',
  '10 ',
  '',
  '639',
  '335',
  '2',
  '193',
  '2',
  '24,338',
  '4,782',
  '5,089,588 ',
  'North America'],
 ['113',
  'Niger',
  '952',
  '',
  '63 ',
  '',
  '796',
  '93',
  '',
  '39',
  '3',
  '5,989',
  '248',
  '24,108,004 ',
  'Africa'],
 ['114',
  'Cyprus',
  '939',
  '',
  '17 ',
  '',
  '594',
  '328',
  '4',
  '778',
  '14',
  '106,028',
  '87,880',
  '1,206,512 ',
  'Asia'],
 ['115',
  'Nepal',
  '886',
  '+114',
  '4 ',
  '',
  '183',
  '699',
  '',
  '30',
  '0.1',
  '158,564',
  '5,452',
  '29,083,261 ',
  'Asia'],
 ['116',
  'Paraguay',
  '884',
  '+7',
  '11 ',
  '',
  '392',
  '481',
  '',
  '124',
  '2',
  '26,760',
  '3,756',
  '7,123,858 ',
  'South America'],
 ['117',
  'Burkina Faso',
  '845',
  '+13',
  '53 ',
  '+1',
  '672',
  '120',
  '',
  '41',
  '3',
  '',
  '',
  '20,841,675 ',
  'Africa'],
 ['118',
  'Uruguay',
  '789',
  '',
  '22 ',
  '',
  '638',
  '129',
  '5',
  '227',
  '6',
  '39,469',
  '11,366',
  '3,472,594 ',
  'South America'],
 ['119',
  'Sierra Leone',
  '782',
  '+28',
  '45 ',
  '+1',
  '297',
  '440',
  '',
  '98',
  '6',
  '',
  '',
  '7,960,197 ',
  'Africa'],
 ['120',
  'Andorra',
  '763',
  '',
  '51 ',
  '',
  '676',
  '36',
  '3',
  '9,877',
  '660',
  '3,750',
  '48,542',
  '77,253 ',
  'Europe'],
 ['121',
  'Nicaragua',
  '759',
  '',
  '35 ',
  '',
  '370',
  '354',
  '',
  '115',
  '5',
  '',
  '',
  '6,616,762 ',
  'North America'],
 ['122',
  'Georgia',
  '735',
  '+3',
  '12 ',
  '',
  '557',
  '166',
  '6',
  '184',
  '3',
  '50,208',
  '12,584',
  '3,989,868 ',
  'Asia'],
 ['123',
  'Ethiopia',
  '731',
  '+30',
  '6 ',
  '',
  '181',
  '544',
  '1',
  '6',
  '0.05',
  '91,616',
  '799',
  '114,661,849 ',
  'Africa'],
 ['124',
  'Jordan',
  '720',
  '+2',
  '9 ',
  '',
  '586',
  '125',
  '5',
  '71',
  '0.9',
  '167,892',
  '16,471',

In [8]:
#Now that I have all of the data I want specifically I'm going to create a dataframe from the headers and mydata
df_cov19 = pd.DataFrame(mydata, columns = col_headers)
df_cov19.head(20)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
0,,World,"5,779,327","+101,199","356,732","+5,078","2,490,659","2,931,936","52,888",741,45.8,,,,All
1,1,USA,"1,744,276","+19,019","102,009","+1,437","486,112","1,156,155","17,082","5,273",308,"15,822,759","47,829","330,817,010",North America
2,2,Brazil,"411,821","+19,461","25,598","+1,049","166,647","219,576","8,318","1,939",121,"871,839","4,104","212,413,908",South America
3,3,Russia,"370,680","+8,338","3,968",+161,"142,208","224,504","2,300","2,540",27,"9,415,992","64,525","145,928,655",Europe
4,4,Spain,"283,849",+510,"27,118",+1,"196,958","59,773",854,"6,071",580,"3,556,567","76,071","46,753,098",Europe
5,5,UK,"267,240","+2,013","37,460",+412,N/A,N/A,"1,559","3,939",552,"3,798,490","55,982","67,852,019",Europe
6,6,Italy,"231,139",+584,"33,072",+117,"147,101","50,966",505,"3,822",547,"3,607,251","59,654","60,469,988",Europe
7,7,France,"182,913",+191,"28,596",+66,"66,584","87,733","1,501","2,803",438,"1,384,633","21,217","65,259,974",Europe
8,8,Germany,"181,895",+607,"8,533",+35,"162,800","10,562",763,"2,172",102,"3,952,971","47,195","83,758,696",Europe
9,9,Turkey,"159,797","+1,035","4,431",+34,"122,793","32,573",723,"1,897",53,"1,894,650","22,488","84,249,900",Asia
10,10,India,"158,086","+7,293","4,534",+190,"67,749","85,803","8,944",115,3,"3,242,160","2,352","1,378,678,095",Asia
11,11,Iran,"141,591","+2,080","7,564",+56,"111,176","22,851","2,551","1,688",90,"856,546","10,211","83,886,140",Asia
12,12,Peru,"135,905","+6,154","3,983",+195,"56,169","75,753",926,"4,128",121,"905,278","27,494","32,925,941",South America
13,13,Canada,"87,519",+872,"6,765",+126,"46,164","34,590",502,"2,321",179,"1,528,315","40,528","37,709,994",North America
14,14,Chile,"82,289","+4,328",841,+35,"33,540","47,908","1,251","4,308",44,"514,523","26,938","19,100,270",South America
15,15,Saudi Arabia,"78,541","+1,815",425,+14,"51,022","27,094",384,"2,260",12,"754,268","21,700","34,759,189",Asia
16,16,Mexico,"74,560","+3,455","8,134",+501,"52,219","14,207",378,579,63,"235,129","1,826","128,799,843",North America
17,17,Pakistan,"59,151","+1,446","1,225",+28,"19,142","38,784",111,268,6,"499,399","2,265","220,450,694",Asia
18,18,Belgium,"57,592",+137,"9,364",+30,"15,465","32,763",220,"4,971",808,"804,890","69,478","11,584,839",Europe
19,19,Qatar,"48,947","+1,740",30,+2,"13,283","35,634",203,"17,018",10,"201,180","69,949","2,876,111",Asia

In [9]:
#Most of this is numeric data and I don't want to see NA those numbers. I'm going to fill in N/A with 0
df_cov19.replace(to_replace = 'N/A', value = 0)  
#Now we can see the N/A that was in UK under TotalRecovered has been switched to a 0. Of course now I'm noticing something funky with the end rows so I need to take a look at those

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
0,,World,"5,779,327","+101,199","356,732","+5,078","2,490,659","2,931,936","52,888",741,45.8,,,,All
1,1,USA,"1,744,276","+19,019","102,009","+1,437","486,112","1,156,155","17,082","5,273",308,"15,822,759","47,829","330,817,010",North America
2,2,Brazil,"411,821","+19,461","25,598","+1,049","166,647","219,576","8,318","1,939",121,"871,839","4,104","212,413,908",South America
3,3,Russia,"370,680","+8,338","3,968",+161,"142,208","224,504","2,300","2,540",27,"9,415,992","64,525","145,928,655",Europe
4,4,Spain,"283,849",+510,"27,118",+1,"196,958","59,773",854,"6,071",580,"3,556,567","76,071","46,753,098",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,,Total:,"1,026,155","+23,237","28,681",+466,"604,001","393,473","13,749",,,,,,Asia
220,,Total:,"126,452","+4,905","3,710",+97,"52,528","70,214",348,,,,,,Africa
221,,Total:,"8,747",+6,124,+1,"8,129",494,6,,,,,,Australia/Oceania
222,,Total:,721,,15,,651,55,4,,,,,,
223,,Total:,"5,779,327","+101,199","356,732","+5,078","2,490,659","2,931,936","52,888",741.4,45.8,,,,All

In [10]:
#Going to look at the last 10 rows 
df_cov19.tail(10)
#It looks like I may still have the continent data here so I need to get rid of rows 215-221

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
214,214,Saint Pierre Miquelon,1,,,,1,0,,173,,,,"5,797",North America
215,215,China,"82,993",+1,"4,634",,"78,280",79,5,58,3,,,"1,439,323,776",Asia
216,,Total:,"1,951,096","+24,718","118,248","+2,085","606,305","1,226,543","18,228",,,,,,North America
217,,Total:,"716,073","+32,331","35,323","+1,399","287,484","393,266","11,035",,,,,,South America
218,,Total:,"1,950,083","+16,002","170,631","+1,030","931,561","847,891","9,518",,,,,,Europe
219,,Total:,"1,026,155","+23,237","28,681",+466,"604,001","393,473","13,749",,,,,,Asia
220,,Total:,"126,452","+4,905","3,710",+97,"52,528","70,214",348,,,,,,Africa
221,,Total:,"8,747",+6,124,+1,"8,129",494,6,,,,,,Australia/Oceania
222,,Total:,721,,15,,651,55,4,,,,,,
223,,Total:,"5,779,327","+101,199","356,732","+5,078","2,490,659","2,931,936","52,888",741.4,45.8,,,,All

In [11]:
#Using drop and calling out the rows I need to remove specifically
df_cov19 = df_cov19.drop([215, 216, 217, 218, 219, 220, 221], axis=0)
df_cov19.tail(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
207,207,Western Sahara,9,,1,,6,2,,15,2,,,"595,784",Africa
208,208,British Virgin Islands,8,,1,,7,0,,265,33,167,"5,528","30,212",North America
209,209,Papua New Guinea,8,,,,8,0,,0.9,,"2,402",269,"8,929,617",Australia/Oceania
210,210,Caribbean Netherlands,6,,,,6,0,,229,,424,"16,184","26,199",North America
211,211,St. Barth,6,,,,6,0,,608,,137,"13,875","9,874",North America
212,212,Anguilla,3,,,,3,0,,200,,30,"2,001","14,990",North America
213,213,Lesotho,2,,,,,2,,0.9,,283,132,"2,140,606",Africa
214,214,Saint Pierre Miquelon,1,,,,1,0,,173,,,,"5,797",North America
222,,Total:,721,,15,,651,55,4,,,,,,
223,,Total:,"5,779,327","+101,199","356,732","+5,078","2,490,659","2,931,936","52,888",741.4,45.8,,,,All

In [12]:
#Need to reset the index as my rows at the end show 214 China and then 222. 
df_cov19 = df_cov19.reset_index(drop = True)
df_cov19 #Now the rows at the end look correct and are associated to correct row number.

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent
0,,World,"5,779,327","+101,199","356,732","+5,078","2,490,659","2,931,936","52,888",741,45.8,,,,All
1,1,USA,"1,744,276","+19,019","102,009","+1,437","486,112","1,156,155","17,082","5,273",308,"15,822,759","47,829","330,817,010",North America
2,2,Brazil,"411,821","+19,461","25,598","+1,049","166,647","219,576","8,318","1,939",121,"871,839","4,104","212,413,908",South America
3,3,Russia,"370,680","+8,338","3,968",+161,"142,208","224,504","2,300","2,540",27,"9,415,992","64,525","145,928,655",Europe
4,4,Spain,"283,849",+510,"27,118",+1,"196,958","59,773",854,"6,071",580,"3,556,567","76,071","46,753,098",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,212,Anguilla,3,,,,3,0,,200,,30,"2,001","14,990",North America
213,213,Lesotho,2,,,,,2,,0.9,,283,132,"2,140,606",Africa
214,214,Saint Pierre Miquelon,1,,,,1,0,,173,,,,"5,797",North America
215,,Total:,721,,15,,651,55,4,,,,,,
216,,Total:,"5,779,327","+101,199","356,732","+5,078","2,490,659","2,931,936","52,888",741.4,45.8,,,,All

In [13]:
df_cov19.to_csv('covid_clean_data2.csv')